{% extends "_layout" %}

{% set titleTag = "Member Portal" %}

{% block main %}

	<section class="gray">
		{% if isRateLimited %}
			<div class="centered-column">
				<h6>Discord Server - <span class="red-text">Disconnected</span></h6>
				<h3 style="margin-bottom: 0">Discord Is Unavailable</h3>
				<p>
					Due to a high volume of traffic Discord is unavailable at this time. Please try again later, and thank you for your patience as we work to increase the scope of this service.
				</p>
			</div>
		{% elseif invalidGuildMember %}
			<div class="centered-column">
				<h6>Discord Server - <span class="red-text">Disconnected</span></h6>
				<h3 style="margin-bottom: 0">Invalid Discord Member</h3>
				<p>
					You do not have access to this server. <a href="/membership">Click here</a> to learn how to become a member.
				</p>
			</div>
		{% elseif craft.arc.isUserLoggedIn %}
			{% include "members/_index-authenticated" %}
		{% else %}
			{% include "members/_index-unauthenticated" %}
		{% endif %}
	</section>


{#
<section class="gray">
	<div class="centered-column">
		<h6>This Section is Currently Under Maintenance</h6>
		<p>
			Wrapping up a few development items...
		</p>
	</div>
</div>
#}

{% endblock %}