<div class="centered-column">
	<h6>Discord Server - <span class="red-text">Disconnected</span></h6>
	<h2 style="margin-bottom: 0">{{ entry.discordHeadlineLoggedOut }}</h2>
	<p>
		{{ entry.discordDisclaimerLoggedOut }}
	</p>
	<div>
		<a href="{{ discord.discordRedirectUrl }}" class="btn">Click To Connect</a>
	</div>
	{#<p>{{ result }}</p>#}
</div>