{% extends "_layout" %}

{% set titleTag = "Member Portal" %}

{% block main %}

{#
	<section class="gray">
		{% if craft.arc.isUserLoggedIn %}
			{% include "members/_index-authenticated" %}
		{% else %}
			{% include "members/_index-unauthenticated" %}
		{% endif %}
	</section>
#}

<section class="gray">
	<div class="centered-column">
		<h6>This Section is Currently Under Maintenance</h6>
		<p>
			Wrapping up a few development items...
		</p>
	</div>
</div>

{% endblock %}