<div class="centered-column">
	<h6>Discord Server - Disconnected</h6>
	<h3 style="margin-bottom: 0">Connect to Discord</h3>
	<p>
		{{ entry.discordDisclaimerLoggedOut }}
	</p>
	<div>
		<a href="{{ discord.discordRedirectUrl }}" class="btn">Click To Connect</a>
	</div>
	{#<p>{{ result }}</p>#}
</div>