{% extends "_layout-members" %}

{% set entry = craft.entries.section('resources').one() %}

{% set slug = craft.app.request.segments | last %}

{% set title = '' %}

{% set resource = null %}

{% for res in entry.resourceList %}
	{% set resourceKebab = res.name | kebab %}
	{% if resourceKebab == slug %}
		{% set resource = res %}
		{% set title = res.name %}
	{% endif %}
{% endfor %}

{# If no resource found then lets bounce! #}

{% if resource == null %}
    {% exit 404 %}
{% endif %}

{% set breadcrumb = [
	{ slug: 'members' },
	{ slug: 'resources' },
	{ label: resource.name, url: craft.app.request.absoluteUrl }
] %}

{# Cleanup resource url for embedding #}

{% set resourceUrl = resource.url %}
{% if '?' not in resourceUrl %}
	{% if '/pubhtml' not in resourceUrl and '/edit' not in resourceUrl %}
		{% set resourceUrl = resourceUrl ~ '/pubhtml?widget=true' %}
	{% else %}
		{% set resourceUrl = resourceUrl ~ '?widget=true' %}
	{% endif %}
{% endif %}
{% if 'widget=true' not in resourceUrl %}
	{% set resourceUrl = resourceUrl ~ '&widget=true' %}
{% endif %}
{% if 'headers=false' not in resourceUrl %}
	{% set resourceUrl = resourceUrl ~ '&headers=false' %}
{% endif %}
{% if '/edit' in resourceUrl %}
	{% set resourceUrl = resourceUrl | replace('/edit', '/pubhtml') %}
{% endif %}
{% if '//' in resourceUrl %}
	{% set resourceUrl = resourceUrl | replace('//', '/') %}
	{% set resourceUrl = resourceUrl | replace('https:/docs.google.com', 'https://docs.google.com') %}
{% endif %}

{% block main %}
	<section class="iframe">
		<iframe src="{{ resourceUrl }}"{% if resource.height | length %} style="height:{{ resource.height }}px;"{% endif %} frameborder="0"></iframe>
	</section>
{% endblock %}