{% extends "_layout" %}

{% block main %}

	<section>
		{#% if craft.arc.isUserLoggedIn %#}
		{% if false %}
			{# USER IS AUTHENTICATED #}
			{% include "members/_index-authenticated" %}
		{% else %}
			{# UNAUTHENTICATED USER #}
			{% include "members/_index-unauthenticated" %}
		{% endif %}
	</section>

{% endblock %}