# Server
/web/.htaccess
/.env

# Node & Gulp
/node_modules
/node_modules/*

# Craft
/storage
/storage/*
/config/project
/config/project/*
/config/project/project.yaml

# Website Resources
/web/assets
/web/assets/*
/web/cpresources
/web/cpresources/*

# SEO
/web/robots.txt