@import "variables";

html,
body {
	font-family: $font-family-primary;
	font-weight: $font-weight-primary; // Options: 400, 600
	font-size: 16px;
	
	margin: 0;
	padding: 0;
	color: $font-color;
	// scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	// .site-container {
	// 	scroll-snap-align: start;
	// }
}

/***** NIGHT THEME (Day is the default) *****/

html,
html.theme-day {
	background-color: $antique;
	header {
		border-radius: 5px;
	}
}

html.theme-night {
	background-color: $dark-theme-bkg-color;
	color: $white;
	a:not(.btn):not(.scroll-down) {
		color: $blue;
		&:hover {
			//color: $bright-color;
			text-decoration: underline;
			svg {
				fill: $blue !important; //bright-color !important;
			}
		}
	}
	h1, h3, h4 {
		color: $white;
	}
	p {
		color: $dark-theme-font-color;
	}
	header {
		background-color: $dark-theme-bkg-color;
		padding: 0;
		.breadcrumb {
			a {
				color: $gray !important;
				&:hover {
					text-decoration: none !important;
					color: $blue !important;
				}
			}
		}
		.header-content {
			.hero {
				.header-image {
					border-radius: 10px;
					box-shadow: 2px 2px 12px lighten($black, 7%);
				}
			}
		}
		.logo {
			&.night {
				display: flex;
			}
			&.day {
				display: none;
			}
		}
		nav#main-menu {
			right: 0;
			ul {
				li {
					&#mobile-trigger {	
						a {
							&:hover {
								svg {
									fill: $blue !important;
								}	
							}
							svg {
								fill: $white;
							}
						}
					}
					a:not(.btn) {
						color: $white;
						&:hover {
							color: $blue;
						}
					}
				}
			}
		}
	}
	footer {
		margin: 15px 0 0 0;
		border-radius: 10px 10px 0 0;
		a {
			color: $white !important;
			&:hover {
				color: $blue !important;
				text-decoration: none !important;
			}
		}
		.copyright {
	    	a {
	    		color: $gray !important;
	    		&:hover {
	    			color: $blue !important;
	    		}
	    	}
		}
	}
	section {
		background-color: $black;
		border-radius: 10px;
		&.gray-section {
			background-color: $black;
		}
		h6 {
			color: $dark-theme-font-color;
		}
		.four-col {
			.col {
				h4 {
					color: $white;
				}
			}
		}
		.two-col,
		.three-col {
			.col {
				.content {
					//background-color: $black;
					border-color: $gray;
					h6 {
						color: $white;
					}
				}
			}
		}
		.testimonials {
			.prev, .next {
				svg {
					fill: $white;
				}
			}
		}
		&.team-members {
			.profile {
				background-color: $black;
				.prof-bio {
					color: $dark-theme-font-color;
				}
				a {
					&:hover {
						svg {
							fill: $bright-color !important;
						}
					}
				}
			}
		}
		dl.faq {
			dt { 
				&:hover {
					label {
						color: $blue;
						svg {
							fill: $blue;
						}
					}
				}
				label {
					color: $white;
					svg {
						fill: $white;
					}
				}
			}
			dd {
				color: $dark-theme-font-color;
			}
		}
		.video-container {
			background-color: $section-gray;
		}
	}
	.sidebar-layout {
		background-color: $black;
		aside {
			border-color: $section-gray;
			ol {
				li {
					border-color: $dark-gray;
					color: $gray;
					a {
						color: $white !important;
						&:hover {
							color: $blue !important;
							text-decoration: none !important;
						}
						svg {
							fill: $white !important;
						}
					}
				}
			}
		}
	}
	.courses {
		.instructions {
			color: $section-gray;
		}
		.quiz {
			background-color: $section-gray;
			h4 {
				color: $black;
			}
		}
		.quiz-complete {
			h4 {
				color: $black;
			}
			p {
				color: $black;
			}
		}
	}
	.data-table {
		background-color: $black;
		table {
			tbody {
				tr {
					td {
						color: $white;
						&.text {
							p {
								color: $gray;
							}
						}
						a {
							color: $white !important;
							&:hover {
								color: $blue !important;
								text-decoration: none !important;
								&.btn {
									color: $white !important;
								}
							}
						}
					}
				}
			}
		}

	}
}


/***** GENERIC ELEMENTS *****/


ul, ol, li, p {
	font-size: 1rem;
	font-weight: $font-weight-primary;
    letter-spacing: 0.04rem;
    line-height: 1.6;
}

h1, h2, h3, h5, h6 {
	font-family: $font-family-secondary;
	font-weight: $font-weight-secondary; // Options: 400, 700
	margin: 0 0 20px 0;
	padding: 0;
}

h1, h2 {
	font-size: 30px;
	letter-spacing: 0.01rem;
	line-height: 40px;
	color: $dark-primary;
}

h3 {
	font-size: 24px;
	letter-spacing: 0.003rem;
	line-height: 34px;
}

h5 {
	font-size: 1.05rem;
	font-weight: $font-bold-secondary;
	line-height: 25px;
}

h4, h6 {
	font-family: $font-family-primary;
	font-weight: $font-bold-primary;
}

h4 {
	font-size: 20px;
	letter-spacing: 0.04rem;
	line-height: 28px;
}

h6 {
	font-size: 1.05rem;
	letter-spacing: 0.09em;
    line-height: 24px;
}

a {
	color: $link-color;
	transition: .3s ease color;
	text-decoration: none;
	&:hover {
		color: $link-hover-color;
		svg {
			fill: $link-hover-color !important;
		}
	}
	svg {
		fill: $link-color;
		transition: .3s ease fill;
	}
}

.btn {
	display: inline-block;
	cursor: pointer;
	padding: 10px 20px;
	background-color: $blue;
	color: $white;
	border-radius: 2px;
	transition: .3s ease background-color, .3s ease color;
	font-family: $font-family-primary;
	font-weight: $font-bold-primary;
	font-size: $font-smaller; 
	border: none;
	&:hover {
		background-color: $bright-color;
		color: $white;
	}
	&.small {
		padding: 7px 15px;
	}
}

label.lightswitch {
	background-color: $white;
	font-family: $font-family-primary;
	font-weight: $font-bold-primary;
	font-size: $font-small;
	border-radius: 11px;
	border: solid 1px $gray;
	height: 22px;
	width: 66px;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
	input {
		display: none;
	}
	input:checked ~ [data-swtich="on"] {
		display: block;
	}
	input:not(:checked) ~ [data-swtich="off"] {
		display: block;
		background-color: $light-gray;
	}
	[data-swtich] {
		display: none;
		width: 100%;
		text-align: center;
		line-height: 1px;
		color: $font-color;
		span {
			vertical-align: middle;
		}
	}
	[data-swtich="on"] {
		text-align: right;
		&:after {
			content: " ";
			display: inline-block;
			height: 22px;
			width: 22px;
			border-radius: 50%;
			background-color: $blue;
			vertical-align: middle;
			margin-left: 6px;
		}
	}
	[data-swtich="off"] {
		text-align: left;
		&:before {
			content: " ";
			display: inline-block;
			height: 22px;
			width: 22px;
			border-radius: 50%;
			background-color: $blue;
			vertical-align: middle;
			margin-right: 2px;
		}
	}
}

.red-text {
	color: $red;
}
.dark-gray-text {
	color: $dark-gray;
}

.site-container {
	margin: 15px 15px 0 15px;
	border-radius: 5px;
}


/***** HEADER & FOOTER *****/


header {
	background-color: $white;
	// padding: 0 40px 40px 40px;
	padding: 0 20px 20px 20px;
	position: relative;
	&.video-header {
		padding: 0;
		overflow: hidden;
		background-color: $dark-primary;
		&.sticky { 
			.logo {
				display: none;
			}
		}
		.cover {
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    z-index: 80;
		    background: transparent;
		    background: linear-gradient(90deg, rgba(6,17,36,1) 0%, rgba(6,17,36,0) 25%, rgba(6,17,36,0) 75%, rgba(6,17,36,1) 100%);
		}
		.logo {
			display: none;
			// position: fixed;
			// z-index: 150;
			// height: 64px;
			// width: 64px;
			// margin: 10px 0 0 20px;
			// svg {
			// 	height: 64px;
			// 	width: 64px;
			// 	fill: $white;
			// }
		}
		nav#main-menu {
			position: fixed;
		    ul {
				li {
					&#mobile-trigger {	
						a {
							svg {
								fill: $white;
							}
						}
					}
				}
			}
		}
		.scroll-down {
			position: absolute;
		    z-index: 105;
		    bottom: 15px;
		    left: 50%;
		    width: 100px;
		    transform: translateX(-50%);
		    text-align: center;
		    color: $white;
		    text-transform: uppercase;
		    font-size: $font-small;
		    opacity: 0;
		    transition-delay: 6s;
		    transition-property: opacity;
			transition-timing-function: ease-in-out;
			transition-duration: 3s;
		    &.show {
		    	opacity: 1;
		    }
		    &:hover {
		    	color: $blue;
		    	svg {
		    		fill: $blue !important;
		    	}
		    }
		    span {
		    	white-space: nowrap;
		    }
			svg {
				width: 15px;
				fill: $white;
				margin-top: 5px;
				transition: none;
			}

		}
		video {
			width: 180%;
    		margin-left: -40%;
    		//border-bottom: solid 5px $black; // why does this create double border???
		}
	}
	&.sticky {
		overflow: hidden;
		nav#main-menu {
			background-color: $dark-primary;
			border-bottom: solid 1px lighten($dark-primary, 8%);
			position: fixed;
			z-index: 110;
			top: 0;
		    left: 0; //65px;
		    right: 0; //65px;
		    padding: 10px 15px;
		    height: 45px;
		    ul {
		    	text-align: right;
				li {
					&.mobile-logo {
						display: inline;
					}
					&#mobile-trigger {
						position: fixed;
						top: 10px;
						right: 10px;	
						a {
							svg {
								fill: $white;
							}
						}
					}
					a {
						color: $white !important;
					}
				}
			}
		}
	}
	.breadcrumb {
	    margin-top: 10px;
	    color: $gray;
	    font-size: $font-smaller;
	    span {
		    font-weight: $font-bold-primary;
		    margin: 0 4px;
		  }
	    a {
	    	color: $gray;
	    	text-decoration: none;
	    	&:hover {
	    		color: $blue !important;
	    	}
	    	&.active {
	    		font-weight: $font-bold-primary;
	    		white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    max-width: 300px;
			    display: inline-block;
			    vertical-align: bottom;
	    	}
	    }
	}
	.logo {
		//display: none;
		display: flex;
	    overflow: hidden;
	    width: 64px;
	    height: 64px;
	    margin: 5px 0 0 0;
	    justify-content: center;
	    align-items: center;
		transition: .3s ease background-color;
		&:hover {
			svg {
				&.logo-svg-dark {
					display: inline;
				}
				&.logo-svg-light {
					display: none;
				}	
			}
		}
		&.night {
			display: none;
		}
		svg {
			fill: $blue;
			margin: 5px 0 0 0;
			&.logo-svg-dark {
				display: none;
			}
			&.logo-svg-light {
				display: inline;
			}
		}
	}
	.header-content {
		width: 100%;
		.hero {
			//margin-top: 15px;
			margin-top: 5px;
			position: relative;
			height: 250px;
			.header-image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
    			background-position: center;
    			z-index: 10;
			}
			.header-text {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				padding: 20px;
				margin: 0;
				z-index: 20;
    			display: flex;
			    justify-content: end;
			    flex-direction: column;
				h6 {
					margin: 0 0 0 0;
					color: $white;
					text-transform: uppercase;
				}
				h1 {
					margin-bottom: 0;
					color: $white;
				}
			}
		}
		.header-text {
			margin-top: 15px;
			h6 {
				display: none;
				margin: 0 0 0 0;
				color: $gray;
				text-transform: uppercase;
			}
			h1 {
				margin-bottom: 0;
			}
		}
		video {
			width: 100%;
		}
	}
	nav#main-menu {
		position: absolute;
		z-index: 105;
	    top: 30px;
		//right: 30px;
		right: 12px;
		ul {
			list-style: none;
		    margin: 0;
		    padding: 0;
		    position: relative;
			li {
				display: none;
				&.theme-switch-menu-item {
					display: none !important;
				}
				&.mobile-logo {
					display: none;
					position: absolute;
					top: 0;
					left: -5px;
					a {
						&:hover {
							svg {
								fill: $blue !important;
							}
						}
						svg {
							width: 60px;
							height: auto;
							fill: $white;
						}
					}
				}
				&#mobile-trigger {
					display: block;
					position: fixed;
					z-index: 200;
					top: 25px;
					right: 25px;
					&.open {
						a {
							svg {
								fill: $antique;
							}
						}
					}
					a {
						svg {
							fill: $dark-primary;
						}
					}
				}
				a {
					//margin: 0 10px;
					margin: 0 8px;
					&.btn {
						display: inline-block;
						&:hover {
							// background-color: $antique;
							// color: $blue !important;
						}
					}
					&:not(.btn) {
						font-size: $font-smaller;
						font-weight: $font-bold-primary;
						text-decoration: none;
						color: $dark-primary;
						&:hover {
							color: $blue;
						}
					}
				}
			}
		}
	}
	nav#mobile-menu {
		// display: none;
		position: fixed;
		z-index: 150;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		text-align: right;
		opacity: 0;
		visibility: hidden;
		transition: .3s ease opacity;
		&.open {
			// display: block;
			visibility: visible;
			opacity: 1;
			ul {
				transform: translateX(0);
			}
		}
		ul {
			list-style: none;
			margin: 85px 0 0 0;
    		padding: 0;
    		width: auto;
		    display: inline-block;
		    text-align: left;
		    border-radius: 5px;
		    transform: translateX(100%);
		    transition: .3s ease transform;
		    li {
				a, .mobile-menu-placeholder {
					display: block;
					padding: 15px 45px 15px 25px;
					font-size: 0.95rem;
				    font-weight: 600;
				    text-decoration: none;
				    color: $dark-primary;
				    background-color: $antique;
				    border-bottom: solid 1px darken($antique, 10%);
				    border-top: solid 1px lighten($antique, 5%);
				    border-left: solid 1px lighten($antique, 5%);
				    &:hover {
				    	background-color: darken($antique, 5%);
				    }
				}
			}
		}
	}
}

footer {
	background-color: $dark-primary;
	color: $white;
	text-align: center;
	margin: -15px 0 0 0;
	padding: 100px 0;
	a {
		&:hover {
			color: $blue;
		}
	}
	.logo {
		margin: 0 0 45px 0;
    	display: block;
    	&:hover {
    		svg {
    			fill: $blue !important;
    		}
    	}
		svg {
			width: 80px;
			height: 80px;
			fill: $white;
		}
	}
	ul {
		list-style: none;
		margin: -30px 0 0 0;
		padding: 0;
		li {
			display: inline;
			a {
				display: inline-block;
				color: $antique;
				margin: 5px;
				white-space: nowrap;
			}
		}
	}
	.copyright {
	    margin: 30px 0;
    	font-size: .9rem;
    	color: $gray;
    	a {
    		color: $gray;
    		&:hover {
    			color: $blue;
    		}
    	}
	}
}

section {
	background-color: $white;
	padding: 20px;
	margin: 18px 0;
	border-radius: 5px 5px 0 0;

	h6 {
		color: $gray;
		margin: 0 0 10px 0;
		text-transform: uppercase;
	}
	h3 {
		margin: 0 0 30px 0;
		color: $dark-primary;
	}

	&.gray {
		background-color: $section-gray;
		h6 {
			color: darken($gray, 4%);
		}
	}

	&.gray-section {
		background-color: $antique;
		text-align: center;
	}

	&.rich-text {
		h3 {
			margin-bottom: 20px;
		}
	}

	&.iframe {
		padding: 20px;
		iframe {
			width: 100%;
	    height: 750px;
		}
	}
	
	&.video-banner {
		padding: 0;
		video {
			width: 100%;
		}
	}

	.video-container {
		background-color: $section-gray;
		padding: 8px 8px 5px 8px;
	}

	.cta-button {
		margin-top: 25px;
	}

	.two-col,
	.three-col {
		text-align: center;
		.col {
			cursor: pointer;
			display: block;
			float: left;
			width: 100%;
			margin: 0 0 20px 0;
			height: auto;
			max-height: 400px;
			background-size: cover;
			border-radius: $border-radius;
			overflow: hidden;
			position: relative;
			&:hover {
				.content {
					.text-content {
						opacity: 1;
						transform: translate(0, 0);
					}
				}
			}
			
			&:after {
				content: "";
				display: block;
				padding-bottom: 100%;
			}
			.content {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				color: $white;
				background-color: rgba(0,0,0,0.24);
				overflow: hidden;
				h6 {
					margin: 20px;
					text-align: left;
					color: $white;
				}
				.text-content {
					position: absolute;
				    bottom: 0;
				    padding: 20px;
				    margin: 0 20px 20px 20px;
				    text-align: left;
				    background: rgba(255, 255, 255, 0.9);
				    color: $font-color;
				    opacity: 0;
				    transform: translate(0, 100%);
				    transition: .3s ease opacity, .3s ease transform;
				}
			}
		}
	}

	.info-cards {
		.two-col,
		.three-col {
			.col {
				.content {
					background-color: $white;
					border: solid 1px $light-gray;
					border-radius: $border-radius;
					transition: .3s ease border-color;
					max-height: 280px;
					&:hover {
						border-color: $gray;
						.icon {
							&.courses-icon {
								svg {
									fill: $red !important;
								}
							}
							svg {
								transform: scale(1.1);
							}
						}
					}
					.text-content {
						background-color: rgba(241,243,244, 0.9);
						border: solid 1px darken($antique, 4%);
					}
					h6 {
						margin: 20px;
						text-align: left;
						color: $font-color;
					}
					.icon {
						&.resources-icon {
							svg {
								fill: $blue;
							}
						}
						&.courses-icon {
							svg {
								fill: $red;
							}
						}
						svg {
							height: 100px;
	    				margin-top: 30px;
	    				transition: .3s ease transform;
						}
					}
				}
			}
		}
	}

	.four-col {
		text-align: center;
		.col {
			margin: 40px 4%;
			a:hover {
				img {
					transform: scale(105%, 105%);
				}
			}
			img {
				width: 100%;
				max-width: 150px;
				height: auto;
				border-radius: 50%;
				transform: scale(100%,100%);
				transition: .3s ease transform;
			}
			h4 {
				margin: 15px 0 -5px 0;
				font-size: $font-bigger;
			}
			p {
				font-size: $font-smaller;
				color: lighten($font-color, 40%);
			}
			ul.links {
				list-style: none;
				margin: 20px 0 0 0;
				padding: 0;
				li {
					display: inline;
					margin: 0 5px;
					a {
						&:hover {
							svg {
								fill: $bright-color;
							}
						}
						svg {
							width: 25px;
							height: 25px;
							fill: $blue;
							transition: .3s ease fill;
						}
					}
				}
			}
		}
	}

	.z-pattern {
		display: block;
		&:not(:first-child):not(:last-child) {
			margin: 40px 0;
		}
		.column {
			display: block;
			&.image-column {
				display: none;
				img {
					width: 100%;
				}
			}
			h3, h6 {
				margin: 0 0 10px 0;
			}
			h6 {
				color: $gray;
			}
		}
	}

	dl.faq {
		dt {
			border-top: solid 1px $light-gray;
			margin: 15px 0 0 0;
			padding: 15px 30px 0 0;
			&:hover {
				label {
					color: $blue;
					svg {
						fill: $blue;
					}
				}
			}
			label {
				font-size: $font-bigger;
				cursor: pointer;
				width: 100%;
				display: block;
				position: relative;
				transition: .3s ease color;
				svg {
					width: 20px;
					height: 20px;
					vertical-align: middle;
					position: absolute;
					right: -25px;
					top: 3px;
					transition: .3s ease fill;
				}
			}
		}
		input {
			display: none;
			height: 0;
			&:checked {
				&+dd {
					//max-height: 300px;
					max-height: 1000px;
					opacity: 1;
					float: none;
				}
			}
		}
		dd {
			max-height: 0;
			float: left;
			opacity: 0;
			margin: 0;
			transition: .3s ease max-height, .3s ease opacity;
		}
	}

	.testimonials {
		position: relative;
		.prev, .next {
			position: absolute;
			top: -35px;
			&.prev {
				right: 45px;
			}
			&.next {
				right: 0;
			}
			&:hover {
				svg {
					fill: $blue !important;
				}
			}
			svg {
				width: 30px;
				height: 30px;
				fill: $gray;
				transition: .3s ease fill;
				border-radius: 50%;
				transition: .5s ease transform;
			}
		}
		blockquote {
			margin: 0;
			display: none;
			&[cite*="http"] {
				cursor: pointer;
			}
			&.active {
				display: block;
				animation-duration: 0.3s;
  				animation-name: slide-in-blockquote;
			}
			&.inactivate {
				animation-duration: 0.3s;
  				animation-name: inactivate-blockquote;
  				animation-timing-function: ease-in;
			}
			img {
				max-width: 100%;
				margin: 20px 0;
			}
			q {
				display: block;
				padding: 20px;
			}
			cite {
				display: block;
				padding: 0 20px 20px 20px;
				margin-top: -10px;
				&:before {
					content: "- ";
				}
			}
		}
	}

	&.gray {
		form {
			.input {
				input[type="text"], input[type="email"], textarea {
					background-color: $white;
				}
			}
		}
	}

	.centered-column {
		width: 100%;
		margin: 0 auto;
	}

	form {
		.input {
			input[type="text"], input[type="email"], input[type="password"], textarea {
				border: none;
				background-color: $antique;
				border: none;
		    background-color: #f1f3f4;
		    padding: 10px 15px;
		    margin: 10px 0;
		    width: calc(100% - 30px);
		    font-family: $font-family-primary;
		    font-size: 1rem;
			}
		}
	}

	&.team-members {
		background-color: transparent !important;
		padding-left: 0;
		padding-right: 0;
		// p {
		// 	display: block;
		// 	max-height: 0;
		// 	opacity: 0;
		// 	overflow: hidden;
		// 	transition: .3s ease-in-out max-height, .6s ease-in-out opacity;
		// 	&.show {
		// 		max-height: 300px;
		// 		opacity: 1;
		// 	}
		// }
		.flex-table {
			margin-top: -30px;
		}
		.profile {
			background-color: $section-gray;
			height: 100%;
			img {
				width: 100%;
			}

			ul, h4, .prof-bio {
				margin: 20px;
			}
			.prof-bio {
				font-size: $font-smaller;
				color: $dark-gray;
				display: none;
			}
			ul.links {
				list-style: none;
				padding: 0;
				li {
					display: inline;
					margin: 0 5px;
					a {
						&:hover {
							svg {
								fill: $bright-color;
							}
						}
						svg {
							width: 25px;
							height: 25px;
							fill: $blue;
							transition: .3s ease fill;
						}
					}
				}
			}
		}
	}


} // End Section Class

.flex-table {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(2, 1fr);
	//grid-template-columns: repeat(4, 1fr); // four columns
  	//grid-template-rows: repeat(4, 1fr);
	min-height: 50px;
	margin: 0 -15px;
	.flex-cell {
		flex: 1;
			// border: 1px solid white;
			margin: 30px 15px 0 15px;
			// &:first-child {
			// 	margin-left: 0;
			// }
			// &:last-child {
			// 	margin-right: 0;
			// }
	}
}

// .flex-table {
// 	display: flex;
//     flex-direction: column;
// 	.flex-row {
// 		display: flex;
//   		min-height: 50px;
// 		.flex-cell {
// 			flex: 1;
//   			// border: 1px solid white;
//   			margin: 30px 15px 0 15px;
//   			&:first-child {
//   				margin-left: 0;
//   			}
//   			&:last-child {
//   				margin-right: 0;
//   			}
// 		}
// 	}
// }

.sidebar-layout {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	width: 100%;
	margin: 20px 0;
	background-color: $white;
	section, aside {
		flex-direction: column;
		flex-basis: 100%;
	}
	section {
		display: flex;
		flex: 45%;
		background-color: $white;
		margin: 0;
	}
	aside {
		display: none;
		flex: 1;
		margin: 20px;
		&.show {
			display: flex;
		}
		h4 {
			margin: 0 0 10px 0;
		}
		p {
			font-size: $font-smaller;
		}
		ul, ol {
			list-style-type: auto;
			list-style-position: inside;
			padding: 0;
			margin: 0;
			li {
				margin: 8px 0;
				padding: 8px 0 15px 0;
				border-bottom: solid 1px $light-gray;
				position: relative;
				&.active {
					font-weight: $font-bold-primary;
					>span, >a>span {
						font-size: $font-size;
					}
				}
				ul {
					list-style-type: none;
					li {
						border-bottom: none;
						padding: 5px 0 0 20px;
					}
				}
				svg {
					height: 15px;
					position: absolute;
				    left: 0;
				    top: 11px;
				    &.check { 
				    	height: 25px;
				    	left: -3px;
				    	top: 5px;
				    }
				}
				span {
					vertical-align: middle;
					font-size: $font-smaller;
					margin-left: 5px;
					display: inline-block;
				}
			}
		}
	}
}


/***** MEMBER PORTAL *****/

.progress {
	width: 100%;
	margin: 10px 0 0 0;
	.labels {
		label {
			height: 20px;
			font-size: $font-small;
			float: right;
			//color: $dark-primary-hover;
			&:first-child {
				float: left;
			}
		}
	}
	.pill {
		width: 100%;
		height: 6px;
		position: relative;
		border: solid 1px $dark-primary-hover;
		border-radius: 6px;
		overflow: hidden;
		.fill {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 50%;
			//background-image: linear-gradient($section-gray, darken($light-gray, 15%));
			background-color: $light-blue; //gray;
		}
	}
}

.data-table {
	background-color: $white;
  border-radius: $border-radius;
	table {
		border-spacing:0;
  	border-collapse: collapse;
		width: 100%;
		tbody {
			tr {
				&:last-child {
					td {
						border-bottom: solid 2px $section-gray;
					}
				}
				td {
					margin: 0;
					padding: 20px 15px;
					border-top: solid 2px $section-gray;
					min-height: 40px;
					// &:first-child {
					// 	border-left: solid 2px $section-gray;
					// }
					// &:last-child {
					// 	border-right: solid 2px $section-gray;
					// }
					&.icon {
						display: none; // responsive, not needed on mobile
						width: 1%;
	    				white-space: nowrap;
	    				padding: 20px 10px 17px 20px;
	    				text-align: center;
						svg {
							height: 45px;
							fill: $light-gray;
						}
						img {
							height: 100px;
							min-width: 100%;
							border: solid 1px $section-gray;
						}
					}
					&.text {
						a {
							font-weight: $font-bold-secondary;
							color: $font-color;
							&:hover {
								color: $blue;
							}
							p {
								font-size: $font-small;
								margin: 5px 0 0 0;
								color: $dark-gray;
							}
						}
					}
					&.cta {
						display: none; // responsive, not needed on mobile
						width: 80px;
						.btn {
							width: 100%;
							padding: 6px 0;
							text-align: center;
							background-color: $dark-primary-hover;
							&:hover {
								background-color: $blue;
							}
						}
					}
				}
			}
		}
	}
}


// $grade-color: darken($medium-primary, 8%);

// dl.course-list {
// 	dt {
// 		margin: 0;
// 		padding: 0;
// 		a.course-category {
// 			display: flex;
// 			position: relative;
// 			align-items: center;
// 			background-color: $dark-primary; //$medium-primary; // $dark-secondary
// 			color: $white;
// 			margin-bottom: 10px;
// 			padding: 20px 20px;
// 			transition: .3s ease background-color,.3s ease color, .3s ease border-color, .3s ease box-shadow;
// 			border-radius: $border-radius $border-radius $border-radius $border-radius;
// 			box-shadow: $gray 0px 2px 7px 0px;
// 			&:hover {
// 				background-color: $dark-primary-hover; //lighten($medium-primary, 3%); //$dark-primary-hover;
// 				box-shadow: $gray 0px 5px 7px 0px;
// 				.progress {
// 					color: $dark-primary;
// 					//transform: rotate(5deg) scale(1.2);
// 				}
// 				.grade {
// 					background-color: $medium-primary-hover;
// 					border-color: $white;
// 					color: $white;
// 					transform: rotate(25deg) scale(1.15);
// 					opacity: 0.3;
// 				}
// 				div {
// 					.btn {
// 						background-color: $dark-primary;
// 					}
// 				}
// 			}
// 			img {
// 				display: none;
// 				height: 120px;
// 				margin: 0 25px 0 0;
// 				border: solid 2px $white;
// 				border-radius: 3px;
// 			}
// 			.progress {
// 				display: none;
// 		    position: absolute;
// 		    right: 12px;
// 		    top: 10px;
// 		    color: $dark-primary-hover;
// 		    font-size: 2rem;
// 		    line-height: 2.35rem;
// 		    font-weight: 600;
// 		    text-align: center;
// 		    font-family: "PT Serif", serif;
// 		    //transform: rotate(0deg) scale(1);
// 		    transition: .3s ease color; //, .5s ease transform;
// 			}
// 			.grade {
// 				display: block;
// 				width: 40px;
// 		    height: 40px;
// 		    background: $medium-primary; //$dark-primary;
// 		    border-radius: 50%;
// 		    position: absolute;
// 		    right: 8px;
// 		    top: 5px;
// 		    color: $grade-color;
// 		    font-size: 2rem;
// 		    line-height: 2.35rem;
// 		    font-weight: 600;
// 		    text-align: center;
// 		    font-family: "PT Serif", serif;
// 		    transform: rotate(1deg) scale(1);
// 		    transition: .3s ease background-color, .3s ease color, .3s ease border-color, .3s ease opacity, .5s ease transform;
// 		    border: solid 3px $grade-color;
// 			}
// 			div {
// 				.course-title {
// 					font-size: 1.1rem;
// 					font-weight: $font-bold-primary;
// 					line-height: 1.5rem;
// 				}
// 				.course-date {
// 					font-size: $font-small;
// 				}
// 				.score {
// 					color: $bright-color;
// 					font-size: $font-small;
// 				}
// 				.btn {
// 					margin-top: 11px;
// 					background-color: $dark-primary-hover;
// 				}
// 			}
// 		}
// 		&:last-child {
// 			a {
// 				border-bottom: none;
// 			}
// 		}
// 	}
// }

.courses {
	h3 {
		margin: 0 0 15px 0;
	}
	.instructions {
		margin: 0 0 25px 0;
	}
	.quiz {
		display: none;
		background-color: $section-gray;
		padding: 40px;
		margin-top: 40px;
		&.show {
			display: block;
		}
		h4 {
			margin-top: 0;
		}
		.error {
			opacity: 0;
			display: none;
			transition: .3s ease opacity;
			color: $red;
			font-weight: $font-bold-secondary;
			font-size: $font-smaller;
			margin-left: 10px;
			&.show {
				opacity: 1;
				display: inline;
			}
		}
		ul {
			list-style: none;
			margin: 0 0 25px 0;
			padding: 0;
			li {
				border-top: solid 1px darken($section-gray, 12%);
				padding-top:15px;
				&:last-child {
					border-bottom: solid 1px darken($section-gray, 12%);
				}
				h5 {
					margin: 10px 0;
				}
				ul {
					li {
						margin: 5px 0;
						border-top: none;
						padding-top: 0;
						&:last-child {
							border-bottom: none;
						}
					}
				}
			}
		}
	}
	.quiz-complete {
		display: none;
		background-color: $section-gray;
		padding: 40px;
		margin-top: 40px;
		&.show {
			display: block;
		}
		h4 {
			margin: 0 0 20px 0;
		}
		p {
			margin: 20px 0 30px 0;
		}
		.btn:first-child {
			margin-right: 20px;
		}
	}
}


/***** ANIMATIONS *****/


@keyframes slide-in-blockquote
{
  from {opacity: 0; transform: translateY(100%);}
  to {opacity: 1; transform: translateY(0);}
}

@keyframes inactivate-blockquote
{
  from { transform: translateY(0); }
  to { transform: translateY(75%); }
}


// @keyframes chart-anim {
//   from {
//     opacity: 1;
//   }
//   25% {
//   	opacity: 1;
//   }
//   to {
//     opacity: 1;
//   }
// }

// .candlestick-chart {
// 	height: 250px;
// 	position: absolute;
// 	z-index: 100;
// 	top: 80px;
// 	left: 0;
// 	right: 0;
// 	display: none;
// 	animation: chart-anim 10s ease-in-out  0.3s;
//   animation-fill-mode: forwards;
// }

// .bar-graph {
//   height: 78%;
//   width: 100%;
//   box-sizing: border-box;
//   position: absolute;
//   padding: 0 3%;
//   font-size: 0.01%;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   margin: auto;
//   text-align: justify;
// }
// .bar-graph .bar {
//   display: block;
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 3%;
//   margin: 0 1.13%;
//   height: 25px;
//   overflow: hidden;
// }
// .bar-graph .bar:after {
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: #3fbaa0;
//   left: 0;
//   filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
//   opacity: 0;
//   -moz-transform: translate3d(0, 100%, 0);
//   -ms-transform: translate3d(0, 100%, 0);
//   -webkit-transform: translate3d(0, 100%, 0);
//   transform: translate3d(0, 100%, 0);
// }
// .bar-graph .bar.dark:after {
//   background: #ff6c54;
//   -moz-transform: translate3d(0, -100%, 0);
//   -ms-transform: translate3d(0, -100%, 0);
//   -webkit-transform: translate3d(0, -100%, 0);
//   transform: translate3d(0, -100%, 0);
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(1) {
//   left: 3%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(1):after {
//   animation: bar-anim 0.5s ease 0.3s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(2) {
//   left: 7.9%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(2):after {
//   animation: bar-anim 0.8s ease 0.2s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(3) {
//   left: 12.8%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(3):after {
//   animation: bar-anim 0.5s ease 0.3s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(4) {
//   left: 17.7%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(4):after {
//   animation: bar-anim 0.5s ease 0.4s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(5) {
//   left: 22.6%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(5):after {
//   animation: bar-anim 0.5s ease 0.5s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(6) {
//   left: 27.5%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(6):after {
//   animation: bar-anim 0.5s ease 0.6s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(7) {
//   left: 32.4%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(7):after {
//   animation: bar-anim 0.5s ease 0.7s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(8) {
//   left: 37.3%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(8):after {
//   animation: bar-anim 0.5s ease 0.8s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(9) {
//   left: 42.2%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(9):after {
//   animation: bar-anim 0.5s ease 0.9s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(10) {
//   left: 47.1%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(10):after {
//   animation: bar-anim 0.5s ease 1s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(11) {
//   left: 52%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(11):after {
//   animation: bar-anim 0.5s ease 1.1s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(12) {
//   left: 56.9%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(12):after {
//   animation: bar-anim 0.5s ease 1.2s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(13) {
//   left: 61.8%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(13):after {
//   animation: bar-anim 0.5s ease 1.3s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(14) {
//   left: 66.7%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(14):after {
//   animation: bar-anim 0.5s ease 1.4s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(15) {
//   left: 71.6%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(15):after {
//   animation: bar-anim 0.5s ease 1.5s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(16) {
//   left: 76.5%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(16):after {
//   animation: bar-anim 0.5s ease 1.6s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(17) {
//   left: 81.4%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(17):after {
//   animation: bar-anim 0.5s ease 1.7s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(18) {
//   left: 86.3%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(18):after {
//   animation: bar-anim 0.5s ease 1.8s;
//   animation-fill-mode: forwards;
// }

// .candlestick-chart .bar-graph .bar:nth-of-type(19) {
//   left: 91.2%;
// }
// .candlestick-chart .bar-graph .bar:nth-of-type(19):after {
//   animation: bar-anim 0.5s ease 1.9s;
//   animation-fill-mode: forwards;
// }

// .bar:nth-of-type(1) {
//   height: 20%;
// }

// .bar:nth-of-type(2) {
//   height: 12%;
// }

// .bar:nth-of-type(3) {
//   	height: 18%;
// }

// .bar:nth-of-type(4) {
//   height: 25%;
// }

// .bar:nth-of-type(5) {
//   height: 15%;
// }

// .bar:nth-of-type(6) {
//   height: 5%;
// }

// .bar:nth-of-type(7) {
//   height: 10%;
// }

// .bar:nth-of-type(8) {
//   height: 15%;
// }

// .bar:nth-of-type(9) {
//   height: 9%;
// }

// .bar:nth-of-type(6) {
//   height: 4.2%;
// }

// .bar:nth-of-type(11) {
//   height: 5%;
// }

// .bar:nth-of-type(12) {
//   height: 10%;
// }

// .bar:nth-of-type(13) {
//   height: 20%;
// }

// .bar:nth-of-type(14) {
//   height: 30%;
// }

// .bar:nth-of-type(15) {
//   height: 15%;
// }

// .bar:nth-of-type(16) {
//   height: 15%;
// }

// .bar:nth-of-type(17) {
//   height: 45%;
// }

// .bar:nth-of-type(18) {
//   height: 15%;
// }

// .bar:nth-of-type(19) {
//   height: 40%;
// }

// .bar:nth-of-type(1) {
//   bottom: 0%;
// }

// .bar:nth-of-type(2) {
//   // bottom: 8.3%;
//   bottom: 20%;
// }

// .bar:nth-of-type(3) {
//   // bottom: 13.3%;
//   bottom: 14%;
// }

// .bar:nth-of-type(4) {
//   bottom: 14%;
// }

// .bar:nth-of-type(5) {
//   bottom: 40%;
// }

// .bar:nth-of-type(6) {
//   bottom: 50%;
// }

// .bar:nth-of-type(7) {
//   bottom: 50%;
// }

// .bar:nth-of-type(8) {
//   bottom: 45%;
// }

// .bar:nth-of-type(9) {
//   bottom: 45%;
// }

// .bar:nth-of-type(10) {
//   bottom: 54%;
// }

// .bar:nth-of-type(11) {
//   bottom: 65%;
// }

// .bar:nth-of-type(12) {
//   bottom: 69%;
// }

// .bar:nth-of-type(13) {
//   bottom: 60%;
// }

// .bar:nth-of-type(14) {
//   bottom: 60%;
// }

// .bar:nth-of-type(15) {
//   bottom: 75%;
// }

// .bar:nth-of-type(16) {
//   bottom: 60%;
// }

// .bar:nth-of-type(17) {
//   bottom: 60%;
// }

// .bar:nth-of-type(18) {
//   bottom: 90%;
// }

// .bar:nth-of-type(19) {
//   bottom: 90%;
// }

// @keyframes bar-anim {
//   to {
//     -moz-transform: translate3d(0, 0, 0);
//     -ms-transform: translate3d(0, 0, 0);
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//     filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
//     opacity: 1;
//   }
// }


/***** MEDIA QUERIES *****/


@media (min-width: 768px)
{
	h1, h2, h3, h5, h6 {
		margin: 0 0 30px 0;
	}
	h1, h2 {
		font-size: 40px;
		line-height: 50px;
	}
	h3 {
		font-size: 28px;	
		line-height: 36px;
	}
	h4 {
		font-size: 24px;
		line-height: 32px;
	}

	header {
		&.sticky {
			nav#main-menu {
				ul {
					li {
						display: inline;
					}
				}
			}
		}
		&.video-header {
			&:not(.sticky) {
				nav#main-menu {
				    ul {
						li {
							&.theme-switch-menu-item {
								display: inline !important;
							}
						}
					}
				}
			}
			// .logo {
			// 	height: 80px;
			// 	width: 80px;
			// 	svg {
			// 		height: 80px;
			// 		width: 80px;
			// 	}
			// }
			nav#main-menu {
			    ul {
					li {
						a:not(.btn):not(:hover) {
							color: $white;
						}
					}
				}
			}
			video {
				margin-left: 50%;
			    min-height: 100vh;
			    max-height: 100vh;
			    transform: translateX(-50%);
			    width: 100%;
			    object-fit: cover;
			}
			.scroll-down {
			    bottom: 30px;
			    font-size: $font-smaller;
				svg {
					width: 20px;
					margin-top: 10px;
					transform: translateY(0);
					animation: scrollDownAnim 1s ease-in-out infinite;
					@keyframes scrollDownAnim {
						0% {
							transform: translateY(0);
						}
						40% {
							transform: translateY(5px);
						}
						100% {
							transform: translateY(0);
						}
					}
				}

			}
		}
		.breadcrumb {
			a.active {
				max-width: 500px;
			}
		}
		.logo {
			// height: 170px;
	  //   	width: 340px;
	  //   	margin: 0 0 0 -40px;
	  		height: 90px;
	  		width: 90px;
	  		padding: 5px 0 3px 0;
	    	svg {
				// width: 210px;
				// height: 210px;
			}
		}
		nav#main-menu {
			ul {
				li {
					display: inline;
					&#mobile-trigger {
						display: none;
					}
				}
			}
		}
		.header-content {
			.hero {
				height: 380px;
			}
		}
	}

	section {
		.two-col {
			.col {
				width: 48%;
				&:nth-child(1) {
					margin: 0 1% 0 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 1%;
				}
			}
		}

		.three-col {
			.col {
				width: 32%;
				&:nth-child(1) {
					margin: 0 1% 0 0;
				}
				&:nth-child(2) {
					margin: 0 1%;
				}
				&:nth-child(3) {
					margin: 0 0 0 1%;
				}
			}
		}

		.four-col {
			.col {
				width: 42%;
				float: left;
			}
		}

		dl.faq {
			dd {
				width: 75%;
			}
		}

		.z-pattern {
			display: flex;
			flex-direction: row;
			align-items: center;
			.column {
				display: flex;
				flex-direction: column;
				width: 50%;
				&.image-column {
					display: flex;
					&+.text-column {
						padding: 0 0 0 25px;	
					}
				}
				&.text-column {
					padding: 0 25px 0 0;
				}
			}
		}

		.testimonials {
			.prev, .next {
				top: -40px;
				&.prev {
					right: 50px;
				}
				// &.next {
				// 	right: 22px;
				// }
				// svg {
				// 	width: 35px;
				// 	height: 35px;
				// }
			}
			blockquote {
				img {
					margin:20px;
				}
			}
		}

		.centered-column {
			width: 600px;
			margin: 0 auto;
		}

		.form-response {
				display: none;
				&.show {
					display: block;
				}
			}

		form {
			.inputs {
				display: flex;
				.input {
					width: 50%;
					&:first-child {
						padding-right: 10px;
					}
					&:last-child {
						padding-left: 10px;
					}
				}
			}

			&.arc-form {
				&.hide {
					display: none;
				}
				.submit {
					margin-top: 15px;
				}
				input, textarea {
					border: solid 2px transparent !important;
					&.error {
						border: solid 2px $red !important;
					}
					&+.error {
						display: block;
						font-size: $font-smaller;
						color: $red;
						margin: -5px 0 5px 0;
						font-weight: $font-bold-primary;
					}
				}
			}
		}

		&.team-members {
			.profile {
				.prof-bio {
					display: block;
				}
			}
		}

	}

	.flex-table {
		grid-template-columns: repeat(3, 1fr); // three columns
	}
	
	// .candlestick-chart {
	// 	top: 80px;
	// 	display: block;
	// }

	.data-table {
		table {
			tbody {
				tr {
					td {
						&.icon, &.cta {
							display: table-cell;
						}
					}
				}
			}
		}
	}


	dl.course-list {
		dt {
			a.course-category {
				img {
					display: inline;
				}
				.progress {
					display: block;
				}
			}
		}
	}

}

@media (min-width: 992px)
{
	h1, h2, h3, h5, h6 {
		margin: 0 0 40px 0;
	}
	h1, h2 {
		font-size: 48px;
		letter-spacing: 0.04rem;
		line-height: 70px;
		white-space: nowrap;
		overflow: hidden;
	}
	h3 {
		font-size: 32px;
		letter-spacing: 0.003rem;
		line-height: 42px;
	}
	h4 {
		font-size: 24px;
		letter-spacing: 0.04rem;
		line-height: 34px;
	}

	html.theme-night {
		footer {
			margin: 40px 0 0 0;
		}
	}

	.site-container {
		margin: 30px 40px 0 40px;
	}

	header {
		padding: 0 40px 25px 40px;
		&.sticky {
			nav#main-menu {
			    // padding: 20px 10%;
			    ul {
			    	max-width: 1335px;
    				margin: 0 auto;
			    }
			}
		}

		nav#main-menu {
			right: 32px;
		}
		.breadcrumb {
			text-align: right;
		  margin-top: -30px;
		  padding-bottom: 10px;
		  a.active {
				max-width: 350px;
			}
		}

		.header-content {
			.hero {
				height: 500px;
			}
			.header-text {
				h6 {
					display: block;
				}
			}
		}
	}

	footer {
		margin: -40px 0 0 0;
	}

	#mobile-course-menu-trigger {
		display: none;
	}

	.sidebar-layout {
		flex-direction: row;
	  	margin: 40px 0;
	  	aside {
	  		display: flex;
	  		margin: 40px 0;
	  		padding: 0 40px;
	  		border-left: solid 3px $section-gray;
	  	}
	}
	
	section {
		padding: 40px;
		margin: 40px 0;

		.z-pattern {
			&:not(:first-child):not(:last-child) {
				margin: 60px 0;
			}
			.column {
				&.image-column {
					&+.text-column {
						padding: 0 0 0 40px;	
					}
				}
				&.text-column {
					padding: 0 40px 0 0;
				}
			}
		}
	}


	.candlestick-chart {
		top: 80px;
	}

	.flex-table {
		grid-template-columns: repeat(4, 1fr); // four columns
	}
}

@media (min-width: 1200px)
{
	section {
		.four-col {
			.col {
				margin: 20px 2%;
				padding: 0 1%;
				width: 19%;
			}
		}
	}
	header {

		.breadcrumb {
		  a.active {
				max-width: 500px;
			}
		}
	}

	.flex-table {
		grid-template-columns: repeat(5, 1fr); // four columns
	}
}

@media (min-width: 1400px)
{
	.site-container {
		margin: 30px auto 0 auto;
		max-width: 1320px;
	}

	header {
		&:not(.video-header):not(.hero-header) {
			.header-content {
				width: 70%;
				max-width: 900px;
			}
		}
		.header-content {

			.hero {
				.header-text {
					padding: 40px 20% 40px 40px
				}
			}
		}
	}

}
