// Font Styles

$font-family-primary: "IBM Plex Sans", sans-serif;
$font-weight-primary: 400;
$font-bold-primary: 600;
$font-family-secondary: "PT Serif", serif;
$font-weight-secondary: 400;
$font-bold-secondary: 700;
$font-size: 1rem;
$font-smaller: 0.92rem;
$font-small: 0.8rem;
$font-bigger: 1.2rem;
$font-color: #212529;

// Neutral Colors

$black: #000000; //#241906; //#000000;
$white: #ffffff;
$gray: #a0a0a0; //#a7a7a7;
$antique: #f1f3f4; //#e7eaed; //#f1f3f4;
$section-gray: darken($antique, 4%);
$dark-gray: darken($gray, 15%);
$light-gray: lighten($gray, 20%);
$dark-theme-font-color: lighten($gray, 15%);

// Colors From Logo

$blue: #3c74f9; // Medium bright blue
$dark-primary: #061124; // Dark (almost black) blue. Compliments: #112039 #213351
$dark-secondary: #112039; // Dark blue
$dark-primary-hover: #213351; // Estate Blue

$link-color: lighten($dark-primary-hover, 16%);
$link-hover-color: $dark-primary-hover;

// New Logo Colors

$medium-primary: #2091b1;  //darken(#1987a7, 3%); // teal
$medium-primary-hover: darken($medium-primary, 5%);

// Complimentary Colors

$light-blue: #3cd3f9;
$red: #f93c74;
$bright-color: #f9c13c; // Bright yellowish green

// Border Styles

$border-radius: 3.5px; //10px;