html,
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #f1f3f4;
  margin: 0;
  padding: 0;
  color: #241906; }

ul, ol, li, p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.6; }

h1, h2, h3, h5, h6 {
  font-family: "PT Serif", serif;
  font-weight: 400;
  margin: 0 0 40px 0;
  padding: 0; }

h1, h2 {
  font-size: 60px;
  letter-spacing: 0.04rem;
  line-height: 70px; }

h3 {
  font-size: 32px;
  letter-spacing: 0.003rem;
  line-height: 42px; }

h5 {
  font-size: 1.05rem;
  font-weight: 700; }

h4, h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600; }

h4 {
  font-size: 24px;
  letter-spacing: 0.04rem;
  line-height: 34px; }

h6 {
  font-size: 1.05rem;
  letter-spacing: 0.09em;
  line-height: 1.6; }

a {
  color: #3c74f9;
  transition: .3s ease color;
  text-decoration: none; }
  a:hover {
    color: #3cd3f9; }

.btn {
  padding: 10px 20px;
  background-color: #3c74f9;
  color: #ffffff;
  border-radius: 2px;
  transition: .3s ease background-color, .3s ease color;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 0.95rem; }
  .btn:hover {
    background-color: #3cd3f9;
    color: #0d2650; }

.site-container {
  margin: 30px 80px;
  border-radius: 5px; }
  .site-container header {
    background-color: #ffffff;
    padding: 0 40px 40px 40px;
    position: relative; }
    .site-container header.sticky nav {
      position: fixed; }
    .site-container header .logo svg {
      margin-top: -15px;
      width: 300px;
      height: 300px; }
    .site-container header .header-content {
      width: 60%; }
      .site-container header .header-content h6 {
        margin: 0 0 20px 0;
        color: #a7a7a7;
        text-transform: uppercase; }
      .site-container header .header-content h1 {
        margin-bottom: 0; }
    .site-container header nav {
      position: absolute;
      top: 60px;
      right: 40px; }
      .site-container header nav ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        .site-container header nav ul li {
          display: inline; }
          .site-container header nav ul li a {
            margin: 0 10px; }
            .site-container header nav ul li a.btn {
              display: inline-block; }
            .site-container header nav ul li a:not(.btn) {
              font-size: 0.95rem;
              font-weight: 600;
              text-decoration: none;
              color: #0d2650; }
              .site-container header nav ul li a:not(.btn):hover {
                color: #3c74f9; }
  .site-container section {
    background-color: #ffffff;
    padding: 40px;
    margin: 40px 0; }
