html,
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #212529; }

/***** NIGHT THEME (Day is the default) *****/
html,
html.theme-day {
  background-color: #f1f3f4; }
  html header,
  html.theme-day header {
    border-radius: 5px; }

html.theme-night {
  background-color: #092730;
  color: #ffffff; }
  html.theme-night a:not(.btn):not(.scroll-down) {
    color: #3c74f9; }
    html.theme-night a:not(.btn):not(.scroll-down):hover {
      text-decoration: underline; }
      html.theme-night a:not(.btn):not(.scroll-down):hover svg {
        fill: #3c74f9 !important; }
  html.theme-night h1, html.theme-night h2, html.theme-night h4 {
    color: #ffffff; }
  html.theme-night p, html.theme-night ul, html.theme-night ol {
    color: #c6c6c6; }
  html.theme-night header {
    background-color: #092730;
    padding: 0; }
    html.theme-night header .breadcrumb a {
      color: #a0a0a0 !important; }
      html.theme-night header .breadcrumb a:hover {
        text-decoration: none !important;
        color: #3c74f9 !important; }
    html.theme-night header .header-content .hero .header-image {
      border-radius: 8px;
      box-shadow: 2px 2px 12px #121212; }
    html.theme-night header .logo.night {
      display: flex; }
    html.theme-night header .logo.day {
      display: none; }
    html.theme-night header nav#main-menu {
      right: 0; }
      html.theme-night header nav#main-menu ul li#mobile-trigger a:hover svg {
        fill: #3c74f9 !important; }
      html.theme-night header nav#main-menu ul li#mobile-trigger a svg {
        fill: #ffffff; }
      html.theme-night header nav#main-menu ul li a:not(.btn) {
        color: #ffffff; }
        html.theme-night header nav#main-menu ul li a:not(.btn):hover {
          color: #3c74f9; }
  html.theme-night footer {
    border-radius: 8px 8px 0 0; }
    html.theme-night footer a {
      color: #ffffff !important; }
      html.theme-night footer a:hover {
        color: #3c74f9 !important;
        text-decoration: none !important; }
    html.theme-night footer .copyright a {
      color: #a0a0a0 !important; }
      html.theme-night footer .copyright a:hover {
        color: #3c74f9 !important; }
  html.theme-night section {
    background-color: #000000;
    border-radius: 8px; }
    html.theme-night section.gray-section {
      background-color: #000000; }
    html.theme-night section h3, html.theme-night section h6 {
      color: #c6c6c6; }
    html.theme-night section .four-col .col h4 {
      color: #ffffff; }
    html.theme-night section .two-col .col .content,
    html.theme-night section .three-col .col .content {
      border-color: #a0a0a0; }
      html.theme-night section .two-col .col .content h3, html.theme-night section .two-col .col .content h6,
      html.theme-night section .three-col .col .content h3,
      html.theme-night section .three-col .col .content h6 {
        color: #ffffff; }
    html.theme-night section .testimonials .prev svg, html.theme-night section .testimonials .next svg {
      fill: #ffffff; }
    html.theme-night section.team-members .profile {
      background-color: #000000;
      border-radius: 8px; }
      html.theme-night section.team-members .profile .prof-bio {
        color: #c6c6c6; }
      html.theme-night section.team-members .profile a:hover svg {
        fill: #f9c13c !important; }
    html.theme-night section dl.faq dt:hover label {
      color: #3c74f9; }
      html.theme-night section dl.faq dt:hover label svg {
        fill: #3c74f9; }
    html.theme-night section dl.faq dt label {
      color: #ffffff; }
      html.theme-night section dl.faq dt label svg {
        fill: #ffffff; }
    html.theme-night section dl.faq dd {
      color: #c6c6c6; }
    html.theme-night section .video-container {
      background-color: #e6e9eb; }
  html.theme-night .sidebar-layout {
    background-color: #000000; }
    html.theme-night .sidebar-layout aside {
      border-color: #e6e9eb; }
      html.theme-night .sidebar-layout aside ol li {
        border-color: #878787;
        color: #a0a0a0; }
        html.theme-night .sidebar-layout aside ol li a {
          color: #ffffff !important; }
          html.theme-night .sidebar-layout aside ol li a:hover {
            color: #3c74f9 !important;
            text-decoration: none !important; }
          html.theme-night .sidebar-layout aside ol li a svg {
            fill: #ffffff !important; }
  html.theme-night .pagination {
    color: #1b748e; }
    html.theme-night .pagination a.page-arrow:hover {
      text-decoration: none; }
      html.theme-night .pagination a.page-arrow:hover svg {
        fill: #779efb !important; }
    html.theme-night .pagination a.page-arrow svg {
      fill: #3c74f9; }
    html.theme-night .pagination span.page-arrow svg {
      fill: #1b748e; }
  html.theme-night .blog-posts article .blog-content {
    background-color: #092730; }
    html.theme-night .blog-posts article .blog-content:hover {
      text-decoration: none; }
    html.theme-night .blog-posts article .blog-content address {
      color: lightgray; }
  html.theme-night ul.blog-topics li a, html.theme-night ul.blog-topics li span {
    background-color: #000000;
    color: #ffffff; }
    html.theme-night ul.blog-topics li a:hover, html.theme-night ul.blog-topics li span:hover {
      text-decoration: none;
      color: #3c74f9; }
  html.theme-night .blog section {
    border-radius: 0; }
    html.theme-night .blog section.first-section {
      border-radius: 8px 8px 0 0; }
    html.theme-night .blog section.last-section {
      border-radius: 0 0 8px 8px; }
  html.theme-night .courses .instructions {
    color: #e6e9eb; }
  html.theme-night .courses .quiz {
    background-color: #e6e9eb;
    color: #212529; }
    html.theme-night .courses .quiz h4, html.theme-night .courses .quiz ul {
      color: #212529; }
  html.theme-night .courses .quiz-complete h4 {
    color: #000000; }
  html.theme-night .courses .quiz-complete p {
    color: #000000; }
  html.theme-night .data-table {
    background-color: #000000; }
    html.theme-night .data-table table tbody tr td {
      color: #ffffff; }
      html.theme-night .data-table table tbody tr td.text p {
        color: #a0a0a0; }
      html.theme-night .data-table table tbody tr td a {
        color: #ffffff !important; }
        html.theme-night .data-table table tbody tr td a:hover {
          color: #3c74f9 !important;
          text-decoration: none !important; }
          html.theme-night .data-table table tbody tr td a:hover.btn {
            color: #ffffff !important; }

/***** GENERIC ELEMENTS *****/
ul, ol, li, p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.6; }

h1, h2, h3, h5, h6 {
  font-family: "PT Serif", serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0; }

h1 {
  font-size: 30px;
  letter-spacing: 0.01rem;
  line-height: 40px;
  color: #061124; }

h2 {
  font-size: 24px;
  letter-spacing: 0.003rem;
  line-height: 34px; }

h5 {
  font-size: 1.05rem;
  font-weight: 700;
  line-height: 25px; }

h3, h4, h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600; }

h4 {
  font-size: 20px;
  letter-spacing: 0.04rem;
  line-height: 28px; }

h3, h6 {
  font-size: 1.05rem;
  letter-spacing: 0.09em;
  line-height: 24px; }

a {
  color: #39588b;
  transition: .3s ease color;
  text-decoration: none; }
  a:hover {
    color: #213351; }
    a:hover svg {
      fill: #213351 !important; }
  a svg {
    fill: #39588b;
    transition: .3s ease fill; }

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #3c74f9;
  color: #ffffff;
  border-radius: 4px;
  transition: .3s ease background-color, .3s ease color;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 0.88rem;
  border: none; }
  .btn:hover {
    background-color: #f9c13c;
    color: #ffffff; }
  .btn.small {
    padding: 7px 15px; }

label.lightswitch {
  background-color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 11px;
  border: solid 1px #a0a0a0;
  height: 22px;
  width: 66px;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  vertical-align: middle; }
  label.lightswitch input {
    display: none; }
  label.lightswitch input:checked ~ [data-swtich="on"] {
    display: block; }
  label.lightswitch input:not(:checked) ~ [data-swtich="off"] {
    display: block;
    background-color: lightgray; }
  label.lightswitch [data-swtich] {
    display: none;
    width: 100%;
    text-align: center;
    line-height: 1px;
    color: #212529; }
    label.lightswitch [data-swtich] span {
      vertical-align: middle; }
  label.lightswitch [data-swtich="on"] {
    text-align: right; }
    label.lightswitch [data-swtich="on"]:after {
      content: " ";
      display: inline-block;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      background-color: #3c74f9;
      vertical-align: middle;
      margin-left: 6px; }
  label.lightswitch [data-swtich="off"] {
    text-align: left; }
    label.lightswitch [data-swtich="off"]:before {
      content: " ";
      display: inline-block;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      background-color: #3c74f9;
      vertical-align: middle;
      margin-right: 2px; }

.red-text {
  color: #f93c74; }

.dark-gray-text {
  color: #878787; }

.site-container {
  margin: 15px 15px 0 15px;
  border-radius: 5px; }

/***** HEADER & FOOTER *****/
header {
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  position: relative; }
  header.video-header {
    padding: 0;
    overflow: hidden;
    background-color: #061124; }
    header.video-header.sticky .logo {
      display: none; }
    header.video-header + .video-page-header {
      padding: 15px 0; }
      header.video-header + .video-page-header h1, header.video-header + .video-page-header h3 {
        margin: 0; }
      header.video-header + .video-page-header h1 + h3 {
        margin-top: 10px;
        color: #8c8c8c;
        text-transform: uppercase; }
    header.video-header .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 80;
      background: transparent;
      background: linear-gradient(90deg, #061124 0%, rgba(6, 17, 36, 0) 25%, rgba(6, 17, 36, 0) 75%, #061124 100%); }
    header.video-header .logo {
      display: none; }
    header.video-header nav#main-menu {
      position: fixed; }
      header.video-header nav#main-menu ul li#mobile-trigger a svg {
        fill: #ffffff; }
    header.video-header .scroll-down {
      position: absolute;
      z-index: 105;
      bottom: 15px;
      left: 50%;
      width: 100px;
      transform: translateX(-50%);
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 0.8rem;
      opacity: 0;
      transition-delay: 6s;
      transition-property: opacity;
      transition-timing-function: ease-in-out;
      transition-duration: 3s; }
      header.video-header .scroll-down.show {
        opacity: 1; }
      header.video-header .scroll-down:hover {
        color: #3c74f9; }
        header.video-header .scroll-down:hover svg {
          fill: #3c74f9 !important; }
      header.video-header .scroll-down span {
        white-space: nowrap; }
      header.video-header .scroll-down svg {
        width: 15px;
        fill: #ffffff;
        margin-top: 5px;
        transition: none; }
    header.video-header video {
      width: 180%;
      margin-left: -40%; }
  header.sticky {
    overflow: hidden; }
    header.sticky nav#main-menu {
      background-color: #061124;
      border-bottom: solid 1px #0c2247;
      position: fixed;
      z-index: 110;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px 15px;
      height: 45px; }
      header.sticky nav#main-menu ul {
        text-align: right; }
        header.sticky nav#main-menu ul li.mobile-logo {
          display: inline; }
        header.sticky nav#main-menu ul li#mobile-trigger {
          position: fixed;
          top: 10px;
          right: 10px; }
          header.sticky nav#main-menu ul li#mobile-trigger a svg {
            fill: #ffffff; }
        header.sticky nav#main-menu ul li a {
          color: #ffffff !important; }
  header .breadcrumb {
    margin-top: 10px;
    color: #a0a0a0;
    font-size: 0.88rem; }
    header .breadcrumb span {
      font-weight: 600;
      margin: 0 4px; }
    header .breadcrumb a {
      color: #a0a0a0;
      text-decoration: none; }
      header .breadcrumb a:hover {
        color: #3c74f9 !important; }
      header .breadcrumb a.active {
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
        display: inline-block;
        vertical-align: bottom; }
  header .logo {
    display: flex;
    overflow: hidden;
    width: 64px;
    height: 64px;
    margin: 5px 0 0 0;
    justify-content: center;
    align-items: center;
    transition: .3s ease background-color; }
    header .logo:hover svg.logo-svg-dark {
      display: inline; }
    header .logo:hover svg.logo-svg-light {
      display: none; }
    header .logo.night {
      display: none; }
    header .logo svg {
      fill: #3c74f9;
      margin: 5px 0 0 0; }
      header .logo svg.logo-svg-dark {
        display: none; }
      header .logo svg.logo-svg-light {
        display: inline; }
  header .header-content {
    width: 100%; }
    header .header-content .hero {
      margin-top: 5px;
      position: relative;
      height: 250px; }
      header .header-content .hero .header-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        z-index: 10; }
      header .header-content .hero .header-text {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 20px;
        margin: 0;
        z-index: 20;
        display: flex;
        justify-content: end;
        flex-direction: column; }
        header .header-content .hero .header-text h3, header .header-content .hero .header-text h6 {
          margin: 0 0 10px 0;
          color: #ffffff;
          text-transform: uppercase; }
        header .header-content .hero .header-text h1 {
          margin-bottom: 0;
          color: #ffffff; }
    header .header-content .header-text {
      margin-top: 15px; }
      header .header-content .header-text h3, header .header-content .header-text h6 {
        display: none;
        margin: 0 0 10px 0;
        color: #a0a0a0;
        text-transform: uppercase; }
      header .header-content .header-text h1 {
        margin-bottom: 0;
        white-space: normal;
        line-height: 35px; }
      header .header-content .header-text address[rel="author"] {
        color: #ffffff;
        font-size: 0.88rem;
        line-height: 1.3rem;
        margin-top: 12px; }
    header .header-content video {
      width: 100%; }
  header nav#main-menu {
    position: absolute;
    z-index: 105;
    top: 30px;
    right: 12px; }
    header nav#main-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative; }
      header nav#main-menu ul li {
        display: none; }
        header nav#main-menu ul li.theme-switch-menu-item {
          display: none !important; }
        header nav#main-menu ul li.mobile-logo {
          display: none;
          position: absolute;
          top: 0;
          left: -5px; }
          header nav#main-menu ul li.mobile-logo a:hover svg {
            fill: #3c74f9 !important; }
          header nav#main-menu ul li.mobile-logo a svg {
            width: 60px;
            height: auto;
            fill: #ffffff; }
        header nav#main-menu ul li#mobile-trigger {
          display: block;
          position: fixed;
          z-index: 200;
          top: 25px;
          right: 25px; }
          header nav#main-menu ul li#mobile-trigger.open a svg {
            fill: #f1f3f4; }
          header nav#main-menu ul li#mobile-trigger a svg {
            fill: #061124; }
        header nav#main-menu ul li a {
          margin: 0 8px; }
          header nav#main-menu ul li a.btn {
            display: inline-block; }
          header nav#main-menu ul li a:not(.btn) {
            font-size: 0.88rem;
            font-weight: 600;
            text-decoration: none;
            color: #061124; }
            header nav#main-menu ul li a:not(.btn):hover {
              color: #3c74f9; }
  header nav#mobile-menu {
    position: fixed;
    z-index: 150;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: right;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease opacity; }
    header nav#mobile-menu.open {
      visibility: visible;
      opacity: 1; }
      header nav#mobile-menu.open ul {
        transform: translateX(0); }
    header nav#mobile-menu ul {
      list-style: none;
      margin: 85px 0 0 0;
      padding: 0;
      width: auto;
      display: inline-block;
      text-align: left;
      border-radius: 5px;
      transform: translateX(100%);
      transition: .3s ease transform; }
      header nav#mobile-menu ul li a, header nav#mobile-menu ul li .mobile-menu-placeholder {
        display: block;
        padding: 15px 45px 15px 25px;
        font-size: 0.95rem;
        font-weight: 600;
        text-decoration: none;
        color: #061124;
        background-color: #f1f3f4;
        border-bottom: solid 1px #d4dbde;
        border-top: solid 1px white;
        border-left: solid 1px white; }
        header nav#mobile-menu ul li a:hover, header nav#mobile-menu ul li .mobile-menu-placeholder:hover {
          background-color: #e3e7e9; }

footer {
  background-color: #061124;
  color: #ffffff;
  text-align: center;
  padding: 100px 20px; }
  footer a:hover {
    color: #3c74f9; }
  footer .logo {
    margin: 0 0 45px 0;
    display: block; }
    footer .logo:hover svg {
      fill: #3c74f9 !important; }
    footer .logo svg {
      width: 80px;
      height: 80px;
      fill: #ffffff; }
  footer ul {
    list-style: none;
    margin: -30px 0 0 0;
    padding: 0; }
    footer ul li {
      display: inline; }
      footer ul li a {
        display: inline-block;
        color: #f1f3f4;
        margin: 5px;
        white-space: nowrap; }
  footer .copyright {
    margin: 30px 0;
    font-size: .9rem;
    color: #a0a0a0; }
    footer .copyright a {
      color: #a0a0a0; }
      footer .copyright a:hover {
        color: #3c74f9; }
  footer .disclaimer {
    margin: 45px 0; }
    footer .disclaimer p {
      text-align: justify;
      font-size: 0.7rem;
      color: #a0a0a0;
      margin: 0 auto;
      max-width: 950px; }

section {
  background-color: #ffffff;
  padding: 20px;
  margin: 18px 0;
  border-radius: 4px 4px 0 0; }
  section h3, section h6 {
    color: #a0a0a0;
    margin: 0 0 10px 0;
    text-transform: uppercase; }
  section h2 {
    margin: 0 0 30px 0;
    color: #061124; }
  section.gray {
    background-color: #e6e9eb; }
    section.gray h3, section.gray h6 {
      color: #969696; }
  section.gray-section {
    background-color: #f1f3f4;
    text-align: center; }
  section.rich-text h2 {
    margin-bottom: 20px; }
  section.embed-code iframe {
    width: 100%; }
  section.iframe {
    padding: 20px; }
    section.iframe iframe {
      width: 100%;
      height: 750px; }
  section.video-banner {
    padding: 0; }
    section.video-banner video {
      width: 100%; }
  section .video-container {
    background-color: #e6e9eb;
    padding: 8px 8px 5px 8px; }
  section .cta-button {
    margin-top: 25px; }
  section .two-col,
  section .three-col {
    text-align: center; }
    section .two-col .col,
    section .three-col .col {
      cursor: pointer;
      display: block;
      float: left;
      width: 100%;
      margin: 0 0 20px 0;
      height: auto;
      max-height: 400px;
      background-size: cover;
      border-radius: 3.5px;
      overflow: hidden;
      position: relative; }
      section .two-col .col:hover .content .text-content,
      section .three-col .col:hover .content .text-content {
        opacity: 1;
        transform: translate(0, 0); }
      section .two-col .col:after,
      section .three-col .col:after {
        content: "";
        display: block;
        padding-bottom: 100%; }
      section .two-col .col .content,
      section .three-col .col .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.24);
        overflow: hidden; }
        section .two-col .col .content h3, section .two-col .col .content h6,
        section .three-col .col .content h3,
        section .three-col .col .content h6 {
          margin: 20px;
          text-align: left;
          color: #ffffff; }
        section .two-col .col .content .text-content,
        section .three-col .col .content .text-content {
          position: absolute;
          bottom: 0;
          padding: 20px;
          margin: 0 20px 20px 20px;
          text-align: left;
          background: rgba(255, 255, 255, 0.9);
          color: #212529;
          opacity: 0;
          transform: translate(0, 100%);
          transition: .3s ease opacity, .3s ease transform; }
  section .info-cards .two-col .col .content,
  section .info-cards .three-col .col .content {
    background-color: #ffffff;
    border: solid 1px lightgray;
    border-radius: 3.5px;
    transition: .3s ease border-color;
    max-height: 280px; }
    section .info-cards .two-col .col .content:hover,
    section .info-cards .three-col .col .content:hover {
      border-color: #a0a0a0; }
      section .info-cards .two-col .col .content:hover .icon.courses-icon svg,
      section .info-cards .three-col .col .content:hover .icon.courses-icon svg {
        fill: #f93c74 !important; }
      section .info-cards .two-col .col .content:hover .icon svg,
      section .info-cards .three-col .col .content:hover .icon svg {
        transform: scale(1.1); }
    section .info-cards .two-col .col .content .text-content,
    section .info-cards .three-col .col .content .text-content {
      background-color: rgba(241, 243, 244, 0.9);
      border: solid 1px #e6e9eb; }
    section .info-cards .two-col .col .content h3, section .info-cards .two-col .col .content h6,
    section .info-cards .three-col .col .content h3,
    section .info-cards .three-col .col .content h6 {
      margin: 20px;
      text-align: left;
      color: #212529 !important; }
    section .info-cards .two-col .col .content .icon.resources-icon svg,
    section .info-cards .three-col .col .content .icon.resources-icon svg {
      fill: #3c74f9; }
    section .info-cards .two-col .col .content .icon.courses-icon svg,
    section .info-cards .three-col .col .content .icon.courses-icon svg {
      fill: #f93c74; }
    section .info-cards .two-col .col .content .icon svg,
    section .info-cards .three-col .col .content .icon svg {
      height: 100px;
      margin-top: 30px;
      transition: .3s ease transform; }
  section .four-col {
    text-align: center; }
    section .four-col .col {
      margin: 40px 4%; }
      section .four-col .col a:hover img {
        transform: scale(105%, 105%); }
      section .four-col .col img {
        width: 100%;
        max-width: 150px;
        height: auto;
        border-radius: 50%;
        transform: scale(100%, 100%);
        transition: .3s ease transform; }
      section .four-col .col h4 {
        margin: 15px 0 -5px 0;
        font-size: 1.2rem; }
      section .four-col .col p {
        font-size: 0.88rem;
        color: #7e8b98; }
      section .four-col .col ul.links {
        list-style: none;
        margin: 20px 0 0 0;
        padding: 0; }
        section .four-col .col ul.links li {
          display: inline;
          margin: 0 5px; }
          section .four-col .col ul.links li a:hover svg {
            fill: #f9c13c; }
          section .four-col .col ul.links li a svg {
            width: 25px;
            height: 25px;
            fill: #3c74f9;
            transition: .3s ease fill; }
  section .z-pattern {
    display: block; }
    section .z-pattern:not(:first-child):not(:last-child) {
      margin: 40px 0; }
    section .z-pattern .column {
      display: block; }
      section .z-pattern .column.image-column {
        display: none; }
        section .z-pattern .column.image-column img {
          width: 100%;
          border-radius: 8px;
          filter: drop-shadow(2px 4px 8px rgba(95, 99, 104, 0.2)) drop-shadow(0 8px 16px rgba(95, 99, 104, 0.1)); }
      section .z-pattern .column h3, section .z-pattern .column h6 {
        margin: 0 0 10px 0; }
      section .z-pattern .column h3, section .z-pattern .column h6 {
        color: #a0a0a0; }
  section dl.faq dt {
    border-top: solid 1px lightgray;
    margin: 15px 0 0 0;
    padding: 15px 30px 0 0; }
    section dl.faq dt:hover label {
      color: #3c74f9; }
      section dl.faq dt:hover label svg {
        fill: #3c74f9; }
    section dl.faq dt label {
      font-size: 1.2rem;
      cursor: pointer;
      width: 100%;
      display: block;
      position: relative;
      transition: .3s ease color; }
      section dl.faq dt label svg {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        position: absolute;
        right: -25px;
        top: 3px;
        transition: .3s ease fill; }
  section dl.faq input {
    display: none;
    height: 0; }
    section dl.faq input:checked + dd {
      max-height: 1000px;
      opacity: 1;
      float: none; }
  section dl.faq dd {
    max-height: 0;
    float: left;
    opacity: 0;
    margin: 0;
    transition: .3s ease max-height, .3s ease opacity; }
  section .testimonials {
    position: relative; }
    section .testimonials .prev, section .testimonials .next {
      position: absolute;
      top: -35px; }
      section .testimonials .prev.prev, section .testimonials .next.prev {
        right: 45px; }
      section .testimonials .prev.next, section .testimonials .next.next {
        right: 0; }
      section .testimonials .prev:hover svg, section .testimonials .next:hover svg {
        fill: #3c74f9 !important; }
      section .testimonials .prev svg, section .testimonials .next svg {
        width: 30px;
        height: 30px;
        fill: #a0a0a0;
        transition: .3s ease fill;
        border-radius: 50%;
        transition: .5s ease transform; }
    section .testimonials blockquote {
      margin: 0;
      display: none;
      color: #ffffff;
      font-size: 0.88rem; }
      section .testimonials blockquote[cite*="http"] {
        cursor: pointer; }
      section .testimonials blockquote.active {
        display: block;
        animation-duration: 0.3s;
        animation-name: slide-in-blockquote; }
      section .testimonials blockquote.inactivate {
        animation-duration: 0.3s;
        animation-name: inactivate-blockquote;
        animation-timing-function: ease-in; }
      section .testimonials blockquote img {
        max-width: 100%;
        margin: 20px 0 !important; }
      section .testimonials blockquote q {
        display: block;
        padding: 20px; }
      section .testimonials blockquote cite {
        display: block;
        padding: 0 20px 20px 20px;
        margin-top: -10px; }
        section .testimonials blockquote cite:before {
          content: "- "; }
  section.gray form .input input[type="text"], section.gray form .input input[type="email"], section.gray form .input textarea {
    background-color: #ffffff; }
  section .centered-column {
    width: 100%;
    margin: 0 auto; }
  section form .input input[type="text"], section form .input input[type="email"], section form .input input[type="password"], section form .input textarea {
    border: none;
    background-color: #f1f3f4;
    border: none;
    background-color: #f1f3f4;
    padding: 10px 15px;
    margin: 10px 0;
    width: calc(100% - 30px);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem; }
  section.team-members {
    background-color: transparent !important;
    padding-left: 0;
    padding-right: 0; }
    section.team-members .flex-table {
      margin-top: -30px; }
    section.team-members .profile {
      background-color: #e6e9eb;
      height: 100%;
      border-radius: 4px;
      overflow: hidden; }
      section.team-members .profile img {
        width: 100%; }
      section.team-members .profile ul, section.team-members .profile h4, section.team-members .profile .prof-bio {
        margin: 20px; }
      section.team-members .profile .prof-bio {
        font-size: 0.88rem;
        color: #878787;
        display: none;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 500px; }
      section.team-members .profile ul.links {
        list-style: none;
        padding: 0; }
        section.team-members .profile ul.links li {
          display: inline;
          margin: 0 5px; }
          section.team-members .profile ul.links li a:hover svg {
            fill: #f9c13c; }
          section.team-members .profile ul.links li a svg {
            width: 25px;
            height: 25px;
            fill: #3c74f9;
            transition: .3s ease fill; }

.flex-table {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  min-height: 50px;
  margin: 0 -15px; }
  .flex-table .flex-cell {
    flex: 1;
    margin: 30px 15px 0 15px; }

.sidebar-layout {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 0;
  background-color: #ffffff; }
  .sidebar-layout section, .sidebar-layout aside {
    flex-direction: column;
    flex-basis: 100%; }
  .sidebar-layout section {
    display: flex;
    flex: 45%;
    background-color: #ffffff;
    margin: 0; }
  .sidebar-layout aside {
    display: none;
    flex: 1;
    margin: 20px; }
    .sidebar-layout aside.show {
      display: flex; }
    .sidebar-layout aside h4 {
      margin: 0 0 10px 0; }
    .sidebar-layout aside p {
      font-size: 0.88rem; }
    .sidebar-layout aside ul, .sidebar-layout aside ol {
      list-style-type: auto;
      list-style-position: inside;
      padding: 0;
      margin: 0; }
      .sidebar-layout aside ul li, .sidebar-layout aside ol li {
        margin: 8px 0;
        padding: 8px 0 15px 0;
        border-bottom: solid 1px lightgray;
        position: relative; }
        .sidebar-layout aside ul li.active, .sidebar-layout aside ol li.active {
          font-weight: 600; }
          .sidebar-layout aside ul li.active > span, .sidebar-layout aside ul li.active > a > span, .sidebar-layout aside ol li.active > span, .sidebar-layout aside ol li.active > a > span {
            font-size: 1rem; }
        .sidebar-layout aside ul li ul, .sidebar-layout aside ol li ul {
          list-style-type: none; }
          .sidebar-layout aside ul li ul li, .sidebar-layout aside ol li ul li {
            border-bottom: none;
            padding: 5px 0 0 20px; }
        .sidebar-layout aside ul li svg, .sidebar-layout aside ol li svg {
          height: 15px;
          position: absolute;
          left: 0;
          top: 11px; }
          .sidebar-layout aside ul li svg.check, .sidebar-layout aside ol li svg.check {
            height: 25px;
            left: -3px;
            top: 5px; }
        .sidebar-layout aside ul li span, .sidebar-layout aside ol li span {
          vertical-align: middle;
          font-size: 0.88rem;
          margin-left: 5px;
          display: inline-block; }

/***** BLOG *****/
.blog-posts article {
  margin: 0 0 50px 0; }
  .blog-posts article .blog-content {
    display: block; }
    .blog-posts article .blog-content .blog-image img {
      width: 100%;
      border-radius: 8px;
      filter: drop-shadow(2px 4px 8px rgba(95, 99, 104, 0.2)) drop-shadow(0 8px 16px rgba(95, 99, 104, 0.1)); }
    .blog-posts article .blog-content h2, .blog-posts article .blog-content h3 {
      margin: 0 0 5px 0; }
    .blog-posts article .blog-content h6 {
      font-size: 0.8rem;
      margin: 7px 0 0 0; }
    .blog-posts article .blog-content address img {
      height: 35px;
      width: 35px;
      border-radius: 25px;
      vertical-align: middle; }
    .blog-posts article .blog-content address span {
      vertical-align: middle; }

.pagination {
  text-align: center;
  width: 100%;
  margin: 30px 0; }
  .pagination svg {
    height: 18px; }
  .pagination * {
    vertical-align: middle; }
  .pagination .page-arrow {
    margin: 0 15px; }
  .pagination span.page-arrow svg {
    fill: lightgray; }

html.theme-night .blog section h3 {
  color: #ffffff; }

ul.blog-topics {
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
  text-align: center; }
  ul.blog-topics li {
    margin: 5px;
    height: 39px;
    display: inline-block; }
    ul.blog-topics li a, ul.blog-topics li span {
      background-color: #ffffff;
      border-radius: 20px;
      padding: 10px 20px 10px 20px;
      font-size: 0.88rem; }
    ul.blog-topics li span {
      color: #878787; }

#blog ul.blog-topics {
  margin: 0 0 -15px 0; }

.blog section {
  margin: 0;
  padding: 1px 20px; }
  .blog section.first-section {
    padding-top: 20px; }
  .blog section.last-section {
    padding-bottom: 30px; }
  .blog section h2 {
    margin: 20px 0; }
  .blog section h3 {
    font-family: "PT Serif", serif;
    color: #061124;
    text-transform: none;
    font-size: 1.2rem;
    line-height: 1.65rem;
    font-weight: 500; }
  .blog section figure {
    margin: 20px 0; }
    .blog section figure img {
      width: 100%;
      border-radius: 8px;
      filter: drop-shadow(2px 4px 8px rgba(95, 99, 104, 0.2)) drop-shadow(0 8px 16px rgba(95, 99, 104, 0.1)); }
    .blog section figure figcaption {
      font-size: 0.88rem;
      font-weight: 400;
      letter-spacing: 0.035rem;
      line-height: 1.5;
      margin: 6px 0 0 0;
      color: #878787;
      text-align: center; }
  .blog section .video-container {
    margin: 20px 0;
    position: relative;
    padding-bottom: 56.25%;
    border-radius: 8px;
    filter: drop-shadow(2px 4px 8px rgba(95, 99, 104, 0.2)) drop-shadow(0 8px 16px rgba(95, 99, 104, 0.1));
    overflow: hidden; }
    .blog section .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      aspect-ratio: 16 / 9; }

/***** MEMBER PORTAL *****/
.progress {
  width: 100%;
  margin: 10px 0 0 0; }
  .progress .labels label {
    height: 20px;
    font-size: 0.8rem;
    float: right; }
    .progress .labels label:first-child {
      float: left; }
  .progress .pill {
    width: 100%;
    height: 6px;
    position: relative;
    border: solid 1px #213351;
    border-radius: 6px;
    overflow: hidden; }
    .progress .pill .fill {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 50%;
      background-color: #3cd3f9; }

.data-table {
  background-color: #ffffff;
  border-radius: 3.5px; }
  .data-table table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%; }
    .data-table table tbody tr:last-child td {
      border-bottom: solid 2px #e6e9eb; }
    .data-table table tbody tr td {
      margin: 0;
      padding: 20px 15px;
      border-top: solid 2px #e6e9eb;
      min-height: 40px; }
      .data-table table tbody tr td.icon {
        display: none;
        width: 1%;
        white-space: nowrap;
        padding: 20px 10px 17px 20px;
        text-align: center; }
        .data-table table tbody tr td.icon svg {
          height: 45px;
          fill: lightgray; }
        .data-table table tbody tr td.icon img {
          height: 100px;
          min-width: 100%;
          border: solid 1px #e6e9eb; }
      .data-table table tbody tr td.text a {
        font-weight: 700;
        color: #212529; }
        .data-table table tbody tr td.text a:hover {
          color: #3c74f9; }
        .data-table table tbody tr td.text a p {
          font-size: 0.8rem;
          margin: 5px 0 0 0;
          color: #878787; }
      .data-table table tbody tr td.cta {
        display: none;
        width: 80px; }
        .data-table table tbody tr td.cta .btn {
          width: 100%;
          padding: 6px 0;
          text-align: center;
          background-color: #213351; }
          .data-table table tbody tr td.cta .btn:hover {
            background-color: #3c74f9; }

.courses h2 {
  margin: 0 0 15px 0; }

.courses .instructions {
  margin: 0 0 25px 0; }

.courses .quiz {
  display: none;
  background-color: #e6e9eb;
  padding: 40px;
  margin-top: 40px; }
  .courses .quiz.show {
    display: block; }
  .courses .quiz h4 {
    margin-top: 0; }
  .courses .quiz .error {
    opacity: 0;
    display: none;
    transition: .3s ease opacity;
    color: #f93c74;
    font-weight: 700;
    font-size: 0.88rem;
    margin-left: 10px; }
    .courses .quiz .error.show {
      opacity: 1;
      display: inline; }
  .courses .quiz ul {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0; }
    .courses .quiz ul li {
      border-top: solid 1px #c3ccd0;
      padding-top: 15px; }
      .courses .quiz ul li:last-child {
        border-bottom: solid 1px #c3ccd0; }
      .courses .quiz ul li h5 {
        margin: 10px 0; }
      .courses .quiz ul li ul li {
        margin: 5px 0;
        border-top: none;
        padding-top: 0; }
        .courses .quiz ul li ul li:last-child {
          border-bottom: none; }

.courses .quiz-complete {
  display: none;
  background-color: #e6e9eb;
  padding: 40px;
  margin-top: 40px; }
  .courses .quiz-complete.show {
    display: block; }
  .courses .quiz-complete h4 {
    margin: 0 0 20px 0; }
  .courses .quiz-complete p {
    margin: 20px 0 30px 0; }
  .courses .quiz-complete .btn:first-child {
    margin-right: 20px; }

/***** ANIMATIONS *****/
@keyframes slide-in-blockquote {
  from {
    opacity: 0;
    transform: translateY(100%); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes inactivate-blockquote {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(75%); } }

/***** MEDIA QUERIES *****/
@media (min-width: 768px) {
  h1, h2, h3, h5, h6 {
    margin: 0 0 30px 0; }
  h1 {
    font-size: 40px;
    line-height: 48px !important; }
  h2 {
    font-size: 28px;
    line-height: 36px; }
  h4 {
    font-size: 24px;
    line-height: 32px; }
  header.sticky nav#main-menu ul li {
    display: inline; }
  header.video-header:not(.sticky) nav#main-menu ul li.theme-switch-menu-item {
    display: inline !important; }
  header.video-header nav#main-menu ul li a:not(.btn):not(:hover) {
    color: #ffffff; }
  header.video-header video {
    margin-left: 50%;
    min-height: 100vh;
    max-height: 100vh;
    transform: translateX(-50%);
    width: 100%;
    object-fit: cover; }
  header.video-header .scroll-down {
    bottom: 30px;
    font-size: 0.88rem; }
    header.video-header .scroll-down svg {
      width: 20px;
      margin-top: 10px;
      transform: translateY(0);
      animation: scrollDownAnim 1s ease-in-out infinite; }
  @keyframes scrollDownAnim {
    0% {
      transform: translateY(0); }
    40% {
      transform: translateY(5px); }
    100% {
      transform: translateY(0); } }
  header .breadcrumb a.active {
    max-width: 500px; }
  header .logo {
    height: 90px;
    width: 90px;
    padding: 5px 0 3px 0; }
  header nav#main-menu ul li {
    display: inline; }
    header nav#main-menu ul li#mobile-trigger {
      display: none; }
  header .header-content .hero {
    height: 380px; }
  section .two-col .col {
    width: 48%; }
    section .two-col .col:nth-child(1) {
      margin: 0 1% 0 0; }
    section .two-col .col:nth-child(2) {
      margin: 0 0 0 1%; }
  section .three-col .col {
    width: 32%; }
    section .three-col .col:nth-child(1) {
      margin: 0 1% 0 0; }
    section .three-col .col:nth-child(2) {
      margin: 0 1%; }
    section .three-col .col:nth-child(3) {
      margin: 0 0 0 1%; }
  section .four-col .col {
    width: 42%;
    float: left; }
  section dl.faq dd {
    width: 75%; }
  section .z-pattern {
    display: flex;
    flex-direction: row;
    align-items: center; }
    section .z-pattern .column {
      display: flex;
      flex-direction: column;
      width: 50%; }
      section .z-pattern .column.image-column {
        display: flex; }
        section .z-pattern .column.image-column + .text-column {
          padding: 0 0 0 25px; }
      section .z-pattern .column.text-column {
        padding: 0 25px 0 0; }
  section .testimonials .prev, section .testimonials .next {
    top: -40px; }
    section .testimonials .prev.prev, section .testimonials .next.prev {
      right: 50px; }
  section .testimonials blockquote img {
    margin: 20px; }
  section .centered-column {
    width: 600px;
    margin: 0 auto; }
  section .form-response {
    display: none; }
    section .form-response.show {
      display: block; }
  section form .inputs {
    display: flex; }
    section form .inputs .input {
      width: 50%; }
      section form .inputs .input:first-child {
        padding-right: 10px; }
      section form .inputs .input:last-child {
        padding-left: 10px; }
  section form.arc-form.hide {
    display: none; }
  section form.arc-form .submit {
    margin-top: 15px; }
  section form.arc-form input, section form.arc-form textarea {
    border: solid 2px transparent !important; }
    section form.arc-form input.error, section form.arc-form textarea.error {
      border: solid 2px #f93c74 !important; }
    section form.arc-form input + .error, section form.arc-form textarea + .error {
      display: block;
      font-size: 0.88rem;
      color: #f93c74;
      margin: -5px 0 5px 0;
      font-weight: 600; }
  section.team-members .profile .prof-bio {
    display: block; }
  .flex-table {
    grid-template-columns: repeat(3, 1fr); }
  .data-table table tbody tr td.icon, .data-table table tbody tr td.cta {
    display: table-cell; }
  dl.course-list dt a.course-category img {
    display: inline; }
  dl.course-list dt a.course-category .progress {
    display: block; }
  .blog-posts {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px; }
    .blog-posts article {
      flex: 50%;
      margin: 0;
      max-width: 50%; }
      .blog-posts article:nth-child(odd) .blog-content {
        margin: 20px 20px 20px 0; }
      .blog-posts article:nth-child(even) .blog-content {
        margin: 20px 0 20px 20px; }
      .blog-posts article .blog-content {
        padding: 20px;
        height: calc(100% - 80px);
        background-color: #f1f3f4; }
        .blog-posts article .blog-content h2 {
          margin: 0 0 10px 0; }
        .blog-posts article .blog-content h3, .blog-posts article .blog-content h6 {
          margin: 15px 0 0 0; } }

@media (min-width: 992px) {
  h1, h2, h3, h5, h6 {
    margin: 0 0 40px 0; }
  h2 {
    font-size: 32px;
    letter-spacing: 0.003rem;
    line-height: 42px; }
  h4 {
    font-size: 24px;
    letter-spacing: 0.04rem;
    line-height: 34px; }
  .site-container {
    margin: 30px 40px 0 40px; }
  header {
    padding: 0 40px 25px 40px; }
    header.sticky nav#main-menu ul {
      max-width: 1335px;
      margin: 0 auto; }
    header.video-header + .video-page-header {
      padding: 0 0 5px 0; }
    header nav#main-menu {
      right: 32px; }
    header .breadcrumb {
      text-align: right;
      margin-top: -30px;
      padding-bottom: 10px; }
      header .breadcrumb a.active {
        max-width: 350px; }
    header .header-content .hero {
      height: 500px; }
    header .header-content .header-text h3, header .header-content .header-text h6 {
      display: block; }
  footer {
    margin: 40px 0 0 0; }
  #mobile-course-menu-trigger {
    display: none; }
  .sidebar-layout {
    flex-direction: row;
    margin: 40px 0; }
    .sidebar-layout aside {
      display: flex;
      margin: 40px 0;
      padding: 0 40px;
      border-left: solid 3px #e6e9eb; }
  section {
    padding: 40px;
    margin: 40px 0; }
    section .z-pattern:not(:first-child):not(:last-child) {
      margin: 60px 0; }
    section .z-pattern .column.image-column + .text-column {
      padding: 0 0 0 40px; }
    section .z-pattern .column.text-column {
      padding: 0 40px 0 0; }
  .candlestick-chart {
    top: 80px; }
  .flex-table {
    grid-template-columns: repeat(4, 1fr); }
  ul.blog-topics li {
    margin: 5px 5px 20px 5px; }
  #blog ul.blog-topics {
    margin: -15px 0 -53px 0; }
  .blog section {
    padding: 1px 150px; }
    .blog section.first-section {
      padding-top: 30px; }
    .blog section.last-section {
      padding-bottom: 100px; }
    .blog section h3 {
      font-size: 1.4rem;
      line-height: 2rem; }
    .blog section figure {
      margin: 30px 0; }
    .blog section .video-container {
      margin: 30px 0; } }

@media (min-width: 1200px) {
  section .four-col .col {
    margin: 20px 2%;
    padding: 0 1%;
    width: 19%; }
  header .breadcrumb a.active {
    max-width: 500px; }
  .blog section {
    padding: 1px 250px; }
  .flex-table {
    grid-template-columns: repeat(5, 1fr); } }

@media (min-width: 1400px) {
  .site-container {
    margin: 30px auto 0 auto;
    max-width: 1320px; }
  header:not(.video-header):not(.hero-header) .header-content {
    width: 70%;
    max-width: 900px; }
  header .header-content .hero .header-text {
    padding: 40px 20% 40px 40px; }
  .blog section {
    padding: 1px 300px; } }
