html,
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #f1f3f4;
  margin: 0;
  padding: 0;
  color: #241906; }

ul, ol, li, p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.6; }

h1, h2, h3, h5, h6 {
  font-family: "PT Serif", serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0; }

h1, h2 {
  font-size: 30px;
  letter-spacing: 0.01rem;
  line-height: 40px;
  color: #061124; }

h3 {
  font-size: 24px;
  letter-spacing: 0.003rem;
  line-height: 34px; }

h5 {
  font-size: 1.05rem;
  font-weight: 700;
  line-height: 25px; }

h4, h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600; }

h4 {
  font-size: 20px;
  letter-spacing: 0.04rem;
  line-height: 28px; }

h6 {
  font-size: 1.05rem;
  letter-spacing: 0.09em;
  line-height: 24px; }

a {
  color: #3c74f9;
  transition: .3s ease color;
  text-decoration: none; }
  a:hover {
    color: #3cd3f9; }

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #3c74f9;
  color: #ffffff;
  border-radius: 2px;
  transition: .3s ease background-color, .3s ease color;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9rem; }
  .btn:hover {
    background-color: #f9c13c;
    color: #ffffff; }

.site-container {
  margin: 15px 15px 0 15px;
  border-radius: 5px; }

header {
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  position: relative; }
  header.sticky {
    overflow: hidden; }
    header.sticky nav#main-menu {
      background-color: #061124;
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px 15px;
      height: 45px; }
      header.sticky nav#main-menu ul {
        text-align: right; }
        header.sticky nav#main-menu ul li.mobile-logo {
          display: inline; }
        header.sticky nav#main-menu ul li#mobile-trigger {
          position: fixed;
          top: 10px;
          right: 10px; }
          header.sticky nav#main-menu ul li#mobile-trigger a svg {
            fill: #ffffff; }
        header.sticky nav#main-menu ul li a {
          color: #ffffff !important; }
  header .logo {
    display: flex;
    overflow: hidden;
    height: 135px;
    width: 250px;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 -40px;
    transform: translate(-15px, -15px);
    transition: .3s ease background-color;
    background-color: #e6e9eb; }
    header .logo:hover {
      background-color: #dadfe2; }
      header .logo:hover svg.logo-svg-dark {
        display: inline; }
      header .logo:hover svg.logo-svg-light {
        display: none; }
    header .logo svg {
      width: 135px;
      height: 135px; }
      header .logo svg.logo-svg-dark {
        display: none; }
      header .logo svg.logo-svg-light {
        display: inline; }
  header .header-content {
    width: 100%; }
    header .header-content .header-text {
      margin-top: 15px; }
      header .header-content .header-text h6 {
        margin: 0 0 10px 0;
        color: #a7a7a7;
        text-transform: uppercase; }
      header .header-content .header-text h1 {
        margin-bottom: 0; }
    header .header-content video {
      width: 100%; }
  header nav#main-menu {
    position: absolute;
    top: 30px;
    right: 30px; }
    header nav#main-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative; }
      header nav#main-menu ul li {
        display: none; }
        header nav#main-menu ul li.mobile-logo {
          display: none;
          position: absolute;
          top: -120px;
          left: -45px; }
          header nav#main-menu ul li.mobile-logo a svg {
            width: 280px;
            height: auto; }
        header nav#main-menu ul li#mobile-trigger {
          display: block;
          position: fixed;
          z-index: 200;
          top: 25px;
          right: 25px; }
          header nav#main-menu ul li#mobile-trigger.open a svg {
            fill: #f1f3f4; }
          header nav#main-menu ul li#mobile-trigger a svg {
            fill: #061124; }
        header nav#main-menu ul li a {
          margin: 0 10px; }
          header nav#main-menu ul li a.btn {
            display: inline-block; }
          header nav#main-menu ul li a:not(.btn) {
            font-size: 0.9rem;
            font-weight: 600;
            text-decoration: none;
            color: #061124; }
            header nav#main-menu ul li a:not(.btn):hover {
              color: #3c74f9; }
  header nav#mobile-menu {
    position: fixed;
    z-index: 150;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: right;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease opacity; }
    header nav#mobile-menu.open {
      visibility: visible;
      opacity: 1; }
      header nav#mobile-menu.open ul {
        transform: translateX(0); }
    header nav#mobile-menu ul {
      list-style: none;
      margin: 85px 0 0 0;
      padding: 0;
      width: auto;
      display: inline-block;
      text-align: left;
      border-radius: 5px;
      transform: translateX(100%);
      transition: .3s ease transform; }
      header nav#mobile-menu ul li a {
        display: block;
        padding: 15px 45px 15px 25px;
        font-size: 0.95rem;
        font-weight: 600;
        text-decoration: none;
        color: #061124;
        background-color: #f1f3f4;
        border-bottom: solid 1px #d4dbde;
        border-top: solid 1px white;
        border-left: solid 1px white; }
        header nav#mobile-menu ul li a:hover {
          background-color: #e3e7e9; }

footer {
  background-color: #061124;
  color: #ffffff;
  text-align: center;
  margin: -15px 0 0 0;
  padding: 100px 0; }
  footer .logo {
    margin-top: -20px;
    display: block; }
    footer .logo svg {
      width: 200px;
      height: 200px; }
  footer ul {
    list-style: none;
    margin: -30px 0 0 0;
    padding: 0; }
    footer ul li {
      display: inline; }
      footer ul li a {
        display: inline-block;
        color: #f1f3f4;
        margin: 5px;
        white-space: nowrap; }
  footer .copyright {
    margin: 30px 0;
    font-size: .9rem;
    color: #a7a7a7; }

section {
  background-color: #ffffff;
  padding: 20px;
  margin: 18px 0; }
  section h6 {
    color: #a7a7a7;
    margin: 0 0 10px 0;
    text-transform: uppercase; }
  section h3 {
    margin: 0 0 40px 0; }
  section.gray-section {
    background-color: #f1f3f4;
    text-align: center; }
  section.video-banner {
    padding: 0; }
    section.video-banner video {
      width: 100%; }
  section.rich-text h3 {
    margin-bottom: 20px; }
  section .cta-button {
    margin-top: 25px; }
  section .three-col {
    text-align: center; }
    section .three-col .col {
      cursor: pointer;
      display: block;
      float: left;
      width: 100%;
      margin: 0 0 20px 0;
      height: auto;
      max-height: 400px;
      background-size: cover;
      position: relative; }
      section .three-col .col:hover .content .text-content {
        opacity: 1;
        transform: translate(0, 0); }
      section .three-col .col:after {
        content: "";
        display: block;
        padding-bottom: 100%; }
      section .three-col .col .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: #ffffff;
        overflow: hidden; }
        section .three-col .col .content h6 {
          margin: 20px;
          text-align: left;
          color: #ffffff; }
        section .three-col .col .content .text-content {
          position: absolute;
          bottom: 0;
          padding: 20px;
          margin: 0 20px 20px 20px;
          text-align: left;
          background: rgba(255, 255, 255, 0.9);
          color: #000000;
          opacity: 0;
          transform: translate(0, 100%);
          transition: .3s ease opacity, .3s ease transform; }
  section .four-col {
    text-align: center; }
    section .four-col .col {
      margin: 40px 4%; }
      section .four-col .col a:hover img {
        transform: scale(105%, 105%); }
      section .four-col .col img {
        width: 100%;
        max-width: 150px;
        height: auto;
        border-radius: 50%;
        transform: scale(100%, 100%);
        transition: .3s ease transform; }
      section .four-col .col h4 {
        margin: 15px 0 -5px 0;
        font-size: 1.2rem; }
      section .four-col .col p {
        font-size: 0.9rem;
        color: #666666; }
      section .four-col .col ul.links {
        list-style: none;
        margin: 20px 0 0 0;
        padding: 0; }
        section .four-col .col ul.links li {
          display: inline;
          margin: 0 5px; }
          section .four-col .col ul.links li a:hover svg {
            fill: #f9c13c; }
          section .four-col .col ul.links li a svg {
            width: 25px;
            height: 25px;
            fill: #3c74f9;
            transition: .3s ease fill; }
  section .z-pattern {
    display: block; }
    section .z-pattern:not(:first-child):not(:last-child) {
      margin: 40px 0; }
    section .z-pattern .column {
      display: block; }
      section .z-pattern .column.image-column {
        display: none; }
        section .z-pattern .column.image-column img {
          width: 100%; }
      section .z-pattern .column h3, section .z-pattern .column h6 {
        margin: 0 0 10px 0; }
      section .z-pattern .column h6 {
        color: #a7a7a7; }
  section .testimonials {
    position: relative; }
    section .testimonials .prev, section .testimonials .next {
      position: absolute;
      top: -15px; }
      section .testimonials .prev.prev, section .testimonials .next.prev {
        right: 60px; }
        section .testimonials .prev.prev:hover svg, section .testimonials .next.prev:hover svg {
          transform: scale(115%, 115%) rotateZ(15deg); }
        section .testimonials .prev.prev svg, section .testimonials .next.prev svg {
          transform: rotateZ(0deg); }
      section .testimonials .prev.next, section .testimonials .next.next {
        right: 15px; }
        section .testimonials .prev.next:hover svg, section .testimonials .next.next:hover svg {
          transform: scale(115%, 115%) rotateZ(20deg); }
        section .testimonials .prev.next svg, section .testimonials .next.next svg {
          transform: rotateZ(0deg); }
      section .testimonials .prev svg, section .testimonials .next svg {
        width: 30px;
        height: 30px;
        fill: #f9c13c;
        background-color: #ffffff;
        border-radius: 50%;
        transition: .5s ease transform; }
    section .testimonials blockquote {
      margin: 0;
      display: none; }
      section .testimonials blockquote[cite*="http"] {
        cursor: pointer; }
      section .testimonials blockquote.active {
        display: block;
        animation-duration: 0.3s;
        animation-name: slide-in-blockquote; }
      section .testimonials blockquote.inactivate {
        animation-duration: 0.3s;
        animation-name: inactivate-blockquote;
        animation-timing-function: ease-in; }
      section .testimonials blockquote img {
        max-width: 100%;
        margin: 20px 0; }
      section .testimonials blockquote q {
        display: block;
        padding: 20px; }
      section .testimonials blockquote cite {
        display: block;
        padding: 0 20px 20px 20px;
        margin-top: -10px; }
        section .testimonials blockquote cite:before {
          content: "- "; }

@keyframes slide-in-blockquote {
  from {
    opacity: 0;
    transform: translateY(100%); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes inactivate-blockquote {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(75%); } }

@media (min-width: 768px) {
  h1, h2, h3, h5, h6 {
    margin: 0 0 30px 0; }
  h1, h2 {
    font-size: 40px;
    line-height: 50px; }
  h3 {
    font-size: 28px;
    line-height: 36px; }
  h4 {
    font-size: 24px;
    line-height: 32px; }
  header.sticky nav#main-menu ul li {
    display: inline; }
  header .logo {
    height: 180px;
    width: 340px;
    margin: 0 0 5px -40px; }
    header .logo svg {
      width: 210px;
      height: 210px; }
  header nav#main-menu ul li {
    display: inline; }
    header nav#main-menu ul li#mobile-trigger {
      display: none; }
  section .three-col .col {
    width: 32%; }
    section .three-col .col:nth-child(1) {
      margin: 0 1% 0 0; }
    section .three-col .col:nth-child(2) {
      margin: 0 1%; }
    section .three-col .col:nth-child(3) {
      margin: 0 0 0 1%; }
  section .four-col .col {
    width: 42%;
    float: left; }
  section .z-pattern {
    display: flex;
    flex-direction: row;
    align-items: center; }
    section .z-pattern .column {
      display: flex;
      flex-direction: column;
      width: 50%; }
      section .z-pattern .column.image-column {
        display: flex; }
        section .z-pattern .column.image-column + .text-column {
          padding: 0 0 0 25px; }
      section .z-pattern .column.text-column {
        padding: 0 25px 0 0; }
  section .testimonials .prev.prev, section .testimonials .next.prev {
    right: 80px; }
  section .testimonials .prev.next, section .testimonials .next.next {
    right: 22px; }
  section .testimonials .prev svg, section .testimonials .next svg {
    width: 35px;
    height: 35px; }
  section .testimonials blockquote img {
    margin: 20px; } }

@media (min-width: 992px) {
  h1, h2, h3, h5, h6 {
    margin: 0 0 40px 0; }
  h1, h2 {
    font-size: 60px;
    letter-spacing: 0.04rem;
    line-height: 70px; }
  h3 {
    font-size: 32px;
    letter-spacing: 0.003rem;
    line-height: 42px; }
  h4 {
    font-size: 24px;
    letter-spacing: 0.04rem;
    line-height: 34px; }
  .site-container {
    margin: 30px 40px 0 40px; }
  header {
    padding: 0 40px 40px 40px; }
    header.sticky nav#main-menu {
      padding: 20px 10%; }
    header .logo {
      margin: 0 0 30px -40px; }
  footer {
    margin: -40px 0 0 0; }
  section {
    padding: 40px;
    margin: 40px 0; }
    section .z-pattern:not(:first-child):not(:last-child) {
      margin: 60px 0; }
    section .z-pattern .column.image-column + .text-column {
      padding: 0 0 0 40px; }
    section .z-pattern .column.text-column {
      padding: 0 40px 0 0; } }

@media (min-width: 1200px) {
  section .four-col .col {
    margin: 20px 2%;
    padding: 0 1%;
    width: 19%; } }

@media (min-width: 1400px) {
  .site-container {
    margin: 30px auto 0 auto;
    max-width: 1320px; }
  header .header-content:not(.video-header) {
    width: 70%;
    max-width: 900px; } }
