{% extends "_layout" %}

{% block main %}

    <section>
        <div class="row">
            <div class="column">
                <h6>Voluptate velit esse quam</h6>
                <h3>Education</h3>
                <p>Enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                <div>
                    <div class="btn">Get Started</div>
                </div>
            </div>
            <div class="column zpattern-image">
                <img src="/assets/images/vcchat-recording.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="column zpattern-image">
                <img src="/assets/images/vcchat-recording.png" alt="">
            </div>
            <div class="column">
                <h6>At vero eos et accusamus</h6>
                <h3>Community</h3>
                <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem.</p>
                <div>
                    <div class="btn">Join Today</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h6>Nihil molestiae consequatur</h6>
                <h3>Mentorships</h3>
                <p>Enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                <div>
                    <div class="btn">Let's Go!</div>
                </div>
            </div>
            <div class="column zpattern-image">
                <img src="/assets/images/vcchat-recording.png" alt="">
            </div>
        </div>
    </section>

    <section>
        <h6>What We Do</h6>
        <h2>Temporibus autem quibusdam</h2>
        <div class="callouts">
            <a class="cta" style="background-image:url('/assets/images/chart-square1.png')">
                <div class="content">
                    <h6>Education</h6>
                </div>
            </a>
            <a class="cta" style="background-image:url('/assets/images/chart-square2.png')">
                <div class="content">    
                    <h6>Community</h6>
                </div>
            </a>
            <a class="cta" style="background-image:url('/assets/images/chart-square3.png')">
                <div class="content">    
                    <h6>Mentorships</h6>
                </div>
            </a>
            <br style="clear:both;">
        </div>
    </section>

    <section class="video-banner">
        <video id="hero-vid" loop="" autoplay="" muted="" class="fullscreen-video desktop-header">
            <source type="video/mp4" src="https://player.vimeo.com/external/471055045.hd.mp4?s=105c2dac19b5181a72fb0a5eca63989b5f656d8e&amp;profile_id=175">
        </video>
    </section>

    <section class="gray-section">
        <h3>Ready for cupiditate non provident?</h3>
    </section>

{#
    <section>
        <h1>Homepage H1 Header</h1>
        <h2>Homepage H2 Header</h2>
        <h3>Homepage H3 Header</h3>
        <h4>Homepage H4 Header</h4>
        <h5>Homepage H5 Header</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <h6>Homepage H6 Header</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </section>

    <section>
        <h1>H1 lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
        <h2>H2 lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2>
        <h3>H3 lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h3>
        <h4>H4 lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h4>
        <h5>H5 lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h5>
        <h6>H6 lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h6>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
#}
{% endblock %}