<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>ARcollective | Coming Soon</title>
    <link rel="shortcut icon" href="assets/favicons/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <style>
        html,
        body {
            font-size: 16px;
            -webkit-text-size-adjust: 100%;
            height: 100%;
            font-family: 'IBM Plex Sans', sans-serif;
            background-color: #071225;
        }

        body {
            margin: 0;
            padding: 0;
            background-color: #071225;
            color: hsl(209, 18%, 30%);
            display: flex;
        }
        .container  {
            display: block;
            width: 90%;
            height: 100%;
            margin: 0 auto;
            text-align: center;
        }
        .logo {
            height: auto;
            width: 100%;
            max-width: 300px;
        }
        .prof-pics a {
            border-bottom: none;
            display: inline-block;
            margin: 20px 10px 0 10px;
        }
        .prof-pics a img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: solid 2px #071225;
            transition: .3s ease border, .3s ease transform;
        }
        .prof-pics a:hover img {
            border: solid 2px #0f2750;
            transform: scale(1.08, 1.08);
        }
        h1, h2 {
            font-family: 'PT Serif', serif;
            color: #3e74fa;
            font-size: 36px;
            font-weight: 400; /*400, 700, italic*/
            letter-spacing: 0.003em;
            line-height: 1.125;
            text-align: center;
            margin: 20px 0;
        }
        h5 {
            font-family: 'PT Serif', serif;
            color: #ffffff;
            font-size: 20px;
            font-weight: normal;
            letter-spacing: 0.025em;
            line-height: 1.4;
            text-align: center;
            margin: 20px 0;
            padding: 0 40px;
        }
        a, a:visited {
            color: #fff;
            text-decoration: none;
            border-bottom: solid 2px;
            border-bottom-color: #0f2750;
            padding-bottom: 5px;
            color: #fff;
            transition: .3s ease color, .3s ease border-bottom-color, .3s ease padding-bottom;
        }
        a:hover {
             color: #3e74fa;
             border-bottom-color: #3e74fa;
             padding-bottom: 1px;
        }
       @media (min-width: 992px) {
            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80%;
            }
            .text-content {
                border-left: solid 2px #0f2750;
                padding: 0 0 0 45px;
            }
            .prof-pics {
                text-align: left;
            }
            h1, h2, h5 {
                text-align: left;
                padding: 0;
                margin: 0 0 020px 0; 
            }
            .logo {
                width: 300px;
                height: 300px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <img class="logo" height="400" width="400" src="/assets/images/logo-white-transparent.png" alt="ARcollectve" title="ARcollective">
        <div class="text-content">
            <h2>Our website is coming soon.</h2>
            <h5>In the meantime you can <a href="https://twitter.com/ARcollective1">find us online</a>.</h5>
            <div class="prof-pics">
                <a title="Reda" href="https://twitter.com/CryptoReda/"><img alt="Reda" src="https://pbs.twimg.com/profile_images/1471902945700683782/ovOHxxqE_400x400.png"></a>
                <a title="Athena" href="https://twitter.com/trading_athena/"><img alt="Athena" src="https://pbs.twimg.com/profile_images/1471919194258165767/6ES4Ldt1_400x400.jpg"></a>
                <a title="220" href="https://twitter.com/pyeh07/"><img alt="220" src="https://pbs.twimg.com/profile_images/1446527247435792384/BdnK7gKj_400x400.jpg"></a>
            </div>
        </div>
    </div>
</body>
</html>
