{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * ARC plugin for Craft CMS 3.x
 *
 * ARC index.twig
 *
 * @author    RealityGems
 * @copyright Copyright (c) 2022 RealityGems
 * @link      https://realitygems.com
 * @package   ARC
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("realitygems\\arc\\assetbundles\\arc\\ARCAsset") %}
{% do view.registerAssetBundle("realitygems\\arc\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "ARC" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('arc') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@realitygems/arc/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('arc') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('arc') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
